.error-messages {
  position: fixed;
  max-width: 1920px;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(-200%);
  will-change: transform, opacity;
  background-color: #cc3c63;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .11);
  z-index: 101;
  width: auto;
  padding: 22px $container-padding;
  text-align: center;
  transition: transform $ease-pagination;
  z-index: 99993;

  &.active {
    display: block !important;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }


  &__close {
    position: absolute;
    right: $grid-gap;
    top: $grid-gap;
    fill: $color-white;
    width: 12px;
    height: 12px;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  p {
    font-size: 14px;
    color: $color-white;
  }

  // &.active {
  //   transform: none;
  // }

  @include screen('tablet', max) {
    padding: $container-padding-mobile;

    &__close {
      right: $grid-gap/2;
      top: $grid-gap/2;
    }
  }
}
