.social { // ul
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;

  &__item { // li
    float: left;

    &:not(:last-child) {
      margin-right: 28px;
    }
  }

  &__link { // a
    display: block;


    @include transited;
  }

  &__icon { // svg
    width: 20px;
    height: 19px;
    color: $color-basic;
    fill: $color-basic;

    @include transited;

    &:hover {
      opacity: .7;
    }
  }
}
