extends ../../layouts/default

block head
  - var pageTitle = 'Карта сата'

block content
  +b.sitemap
    .container
      +e.list
        +link(href="ui-kit.html") UI-kit (ui-kit.html)
        +link(href="index.html") Главная (index.html)
        +link(href="order.html") Оформление заказа (order.html)
        +link(href="cart.html") Ваша корзина (cart.html)
        +link(href="orderdone.html") Спасибо за заявку (orderdone.html)
        +link(href="product.html") Страница товара (product.html)
        +link(href="newsTraining.html") Обучение и новости (newsTraining.html)
        +link(href="training-page.html") Обучение (training-page.html)
        
