@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/gradients'; // Градиенты
@import 'helpers/basics'; // Основные общие стили
@import 'helpers/text-styles'; // Стили текстов
@import 'helpers/link-styles'; // Стили ссылок
@import 'helpers/list-styles'; // Стили списков
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';
@import '../../node_modules/jquery-nice-select/css/nice-select.css';
@import '../../node_modules/leaflet/dist/leaflet.css';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    padding-left: 22px;
    padding-right: 22px;
  }

  &_large {
    padding-left: 132px;
    padding-right: 132px;
  }
}

/* stylelint-disable */

.js-parallax {
  z-index: 0;
}

.section__head_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(37, 37, 37, .6);
  width: 100vw;
  height: 1000vh;
  z-index: 99;
}
/* stylelint-enable */
