@import '../../node_modules/normalize.css/normalize.css';
@import 'helpers/mixins'; // Миксины
@import 'helpers/fonts'; // Шрифты
@import 'helpers/variables'; // Переменные
@import 'helpers/basics'; // Основные общие стили
@import '../blocks/**/*';
@import '../components/**/*';
@import '../pages/**/*';
@import '../../node_modules/jquery-nice-select/css/nice-select.css';
@import '../../node_modules/leaflet/dist/leaflet.css';

.container {
  width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;

  @media (max-width: 768px) {
    padding-left: 22px;
    padding-right: 22px;
  }
}

/* stylelint-disable */
#grayscreen {
  display: none;
  position: absolute;
  background-color: rgba(37, 37, 37, .6);
  width: 100%;
  height: 100%;
  z-index: 99;
}
/* stylelint-enable */

a {
  text-decoration: none;
}
