include ../../blocks/product-card/product-card
include ../../components/product-popup/product-popup
include ../../blocks/modal/modal
include ../../blocks/grid/grid

mixin products()
  +b.products&attributes(attributes)
    .container
      +e.line
        +e.SPAN.helper
        block
    //- popups
    +product-popup('assets/images/picProduct/botox_250ml_07 (line)@2x.png', '7 990 ₽', 'product1')
    +product-popup('assets/images/picProduct/clarify_250ml_03(line)@2x.png', '7 990 ₽', 'product2')
    +product-popup('assets/images/picProduct/triple.png', '7 990 ₽', 'product3')
    +product-popup('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png', '7 990 ₽', 'product4')
    +product-popup('assets/images/picProduct/spa_250ml_03(line)@2x.png', '7 990 ₽', 'product5')
    +product-popup('assets/images/picProduct/smooth_250ml_03(line)@2x.png', '7 990 ₽', 'product6')
