.products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0;
  background-color: $color-white;

  .container {
    padding: 0;
  }

  .product-card {
    width: 25%;
    max-width: none;
    border: none;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    &:nth-of-type(3n) {
      border-right: none;
    }

    &_xl {
      width: 50%;
      max-width: none;
    }
  }

  &__line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }

  &__helper {
    position: absolute;
    display: block;
    background-color: white;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 2;
    box-shadow:
      0 0 0 0 $color-white,
      0 3px 20px rgba(black, .3);
    will-change: opacity, left, top, width, height, box-shadow; // Для производительности
    transform: translate3d(0, 0, 0); // Для производительности
    transition:
      opacity $ease-main,
      left $ease-main,
      top $ease-main,
      width $ease-main,
      height $ease-main,
      box-shadow $ease-main;
    pointer-events: none;

    &.active {
      opacity: 1;
      box-shadow:
        0 0 0 10px $color-white,
        0 8px 36px 0 rgba(0, 0, 0, 0.09);
    }
  }

  @include screen('tablet', max) {

    border-bottom: 1px solid $color-border;

    &__line {
      flex-flow: column nowrap;
    }

    .product-card {
      width: 100%;
      border-right: none;

      &:last-child {
        border: none;
      }
    }

    .container {
      padding: 0 22px;
    }
  }
}
