include ../../blocks/grid/grid
include ../../blocks/link/link

mixin main-slider()
  +b.SECTION.main-slider.section&attributes(attributes)
    +e.slider.product-container
      .product-wrapper
        .product-slide
          +e.image
            img(src="assets/images/picMainPage/1@2x.jpg")
            img(src="assets/images/picMainPage/M_bg_1@2x.jpg")
        .product-slide
          +e.image
            img(src="assets/images/picMainPage/2@2x.jpg")
            img(src="assets/images/picMainPage/M_bg_2@2x.jpg")
        .product-slide
          +e.image
            img(src="assets/images/picMainPage/3@2x.jpg")
            img(src="assets/images/picMainPage/M_bg_3@2x.jpg")
    .container
      +e.heading
        +e.H1.title Професcиональная косметика для волос Lantelia
        +e.link-wrapper
          +link()(href="#about-popup")._white._big._animated.main-slider__link.js-fancyform Начать работать с Lantelia

      +e.bottom
        +e.phones
          +link()(href="tel:88008700897")._small.main-slider__phone 8 800 870&mdash;0697
          +link()(href="tel:84957000201")._small.main-slider__phone 8 495 700&mdash;0201
        +link()(href="#").main-slider__link Подробнее
        +e.pagination-block
          +e.P.name Professional Clarifying Care
          +e.UL.pagination
            li.slider-pagination-switch.active
            li.slider-pagination-switch
            li.slider-pagination-switch
