.main-slider {
  display: block;
  background-color: #2c2c2c;
  padding-bottom: 52px;
  margin-top: -120px;
  padding-top: 120px;

  .grid {
    padding: 92px 0 44px 73px;
  }

  &__title {
    margin-bottom: 43px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.39;
    text-align: left;
    color: $color-white;
    letter-spacing: .025em;
    position: relative;
  }

  &__link {
    font-size: 14px;
    letter-spacing: .053em;
    position: relative;
  }

  .grid__col_five {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  .product-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .product-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
  }

  .product-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;

    img {
      height: 100%;
      max-height: 550px;
      width: 100%;
      max-width: 550px;
    }
  }

  &__name {
    @extend %text-name;

    color: $color-white;
    letter-spacing: .006em;
    margin-bottom: 21px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;

    .main-slider__link {
      font-size: 11px;
      letter-spacing: .127em;
      position: absolute;
      right: 50%;
      bottom: 0;
      transform: translateX(50%);
    }
  }

  &__phones {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 12px;
      color: $color-white;
      margin-right: 47px;
      display: inline-flex;
      letter-spacing: .135em;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__pagination {
    display: flex;

    &-block {
      flex-basis: 31.8%;
      display: flex;
      flex-flow: column nowrap;
      transform: translateY(-4px);
    }
  }

  .slider-pagination-switch {
    cursor: pointer;
    display: inline-flex;
    height: 2px;
    flex-basis: 48px;
    background-color: rgba(255, 255, 255, .3);
    transition: flex-basis $ease-pagination_main;
    margin-right: 10px;
    will-change: flex-basis;

    &::before {
      content: '';
      flex-basis: 100%;
      height: 100%;
      background-color: $color-white;
      display: block;
      transform: scale3d(0, 1, 1);
      transform-origin: left;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      flex-basis: 100%;

      &::before {
        transform: scale3d(1, 1, 1);
        transition: transform $ease-pagination_linear;
      }
    }
  }

  // @media (max-width: 1280px) {
  //
  //   &__phones {
  //
  //     span {
  //       font-size: 10px;
  //     }
  //   }
  //
  //   &__link {
  //     font-size: 10px;
  //   }
  //
  //   .grid {
  //     padding: 40px 60px 0;
  //   }
  //
  //   &__title {
  //     font-size: 24px;
  //     letter-spacing: .021em;
  //   }
  // }

  @media (max-width: 1000px) {

    &__title {
      font-size: 18px;
      letter-spacing: .028em;
    }

    .grid {
      flex-flow: column;
      padding: 40px 20px 0;

      &:first-of-type {
        margin: 0;
      }

      &__col {
        padding: 0;

        &_five {
          width: 100%;
        }

        &_seven {
          width: 100%;
        }
      }
    }

    &__phones, &__bottom .main-slider__link {
      display: none;
    }

    &__bottom {
      justify-content: center;
    }

    &__pagination {
      flex-basis: 50%;
      justify-content: center;
    }

    .slider-pagination-switch {
      width: 30%;

      &.active {
        width: 30%;
      }
    }
  }
}
