.main-slider {
  display: block;
  background-color: $color-basic;
  padding-bottom: 55px;

  .container {
    padding: 0;
  }

  .grid {
    padding-left: 132px;
  }

  &__title {
    margin-bottom: 45px;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1.39;
    text-align: left;
    color: $color-white;
    letter-spacing: 1px;
    position: relative;
  }

  &__link {
    font-size: 14px;
    letter-spacing: 1.1px;
    color: $color-white;
    text-transform: uppercase;
    position: relative;
  }

  .grid__col_five {
    display: flex;
    flex-flow: column;
    justify-content: center;

    .main-slider__link {
      display: inline-block;

      &::after {
        content: '';
        display: block;
        margin-top: 10px;
        position: relative;
        height: 2px;
        width: 20%;
        color: white;
        background-image: linear-gradient(to left, #e2648c, #65a7e3);
        transition: width .5s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .product-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .product-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
  }

  .product-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;

    img {
      height: 100%;
      max-height: 550px;
      width: 100%;
      max-width: 550px;
    }
  }

  &__bottom {
    display: flex;
    padding-left: 60px;

    .main-slider__link {
      font-size: 11px;
      letter-spacing: 1.4px;

      @include transited;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__phones {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 12px;
      color: $color-white;
      margin-right: 20px;
      display: inline-flex;
      letter-spacing: 1.5px;
    }
  }

  &__slider-pagination {
    display: flex;
    flex: 1;
  }

  // .swiper-pagination-bullet {
  //     width: 20px;
  //     height: 20px;
  //     text-align: center;
  //     line-height: 20px;
  //     font-size: 12px;
  //     color:#000;
  //     opacity: 1;
  //     background: rgba(0,0,0,0.2);
  // }
  // .swiper-pagination-bullet-active {
  //     color:#fff;
  //     background: #007aff;
  // }

  .slider-pagination-switch {
    cursor: pointer;
    display: inline-block;
    height: 3px;
    width: 25px;
    background-color: rgba(255, 255, 255, .2);
    transition: width .5s ease;
    margin-right: 5px;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      background-color: $color-white;
      display: block;
      transform: scale3d(0, 1, 1);
      transform-origin: left;
    }

    &-active {
      width: 100%;

      &::before {
        transform: scale3d(1, 1, 1);
        transition: transform 5s ease;
      }
    }
  }

  @media (max-width: 1280px) {

    .grid {
      padding: 40px 60px 0;
    }

    &__title {
      font-size: 24px;
      letter-spacing: .5px;
    }
  }

  @media (max-width: 768px) {

    &__title {
      font-size: 18px;
      letter-spacing: .5px;
    }

    .grid {
      flex-flow: column;
      padding: 40px 20px 0;

      &:first-of-type {
        margin: 0;
      }

      &__col {
        padding: 0;

        &_five {
          width: 100%;
        }

        &_seven {
          width: 100%;
        }
      }
    }

    &__bottom {
      display: none;
    }
  }
}
