.cart {
  padding-top: 58px;

  &__foot {
    display: flex;
    padding: 53px 0 51px;
  }

  .order-price {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 72px;
    }
  }

  &__button {
    flex: 1;
    text-align: right;
    align-self: center;
  }

  .button {
    padding: 18px 41px 18px 40px;
  }
}
