.cart {
  padding-top: 58px;
  padding-bottom: 0;

  &__foot {
    display: flex;
    padding: 53px 0 51px;
  }

  .section__head {
    margin-bottom: 47px;
  }

  .order-price {
    display: inline-block;
    vertical-align: middle;

    &:not(:last-child) {
      margin-right: 72px;
    }
  }

  &__button {
    flex: 1;
    text-align: right;
    align-self: center;
  }

  .button {
    padding: 18px 41px 18px 40px;
  }

  .js-num-goods {
    .order-price__rouble {
      display: none;
    }
  }

  @include screen('temp', max) {
    padding-top: 95px;

    .product-card__wrapper {
      max-width: 640px;
      margin: 0 auto;
      position: relative;
    }

    .section__head {
      margin-bottom: 31px;
    }

    &__foot, &__button {
      display: block;
    }

    &__foot {
      padding: 31px 0 36px;
    }

    .order-price:not(:last-child) {
      margin-right: $grid-gap;
    }

    &__stats {
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
    }
  }

  @include screen('tablet', max) {

    &__stats {
      padding-right: 33px;
    }

    .button {
      padding-bottom: 21px;
      width: 100%;
    }
  }
}
