include ../../blocks/section-head/section-head
include ../../blocks/product-card/product-card
include ../../blocks/order-price/order-price

mixin cart()
  +b.SECTION.cart.section&attributes(attributes)
    .container
      .section__head
        +section-head('Покупки', 'Ваша корзина')
      +e.wrapper
        +product-card-cart('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png', '7 990')(data-price=7990)
        +product-card-cart2('assets/images/picProduct/botox_100ml_04(procedure).png', '10 990')(data-price=10990)
      +e.foot
        +e.stats
          +order-price('Позиции', '3').js-num-goods
          +order-price('Стоимость заказа', '18 980').js-total-sum
        +e.button
          +button(false, true)(type="submit", value="Отправить")._white._fill-black К оформлению заказа
    
