include ../../blocks/grid/grid
include ../../blocks/button/button
include ../../components/social/social

mixin footer()
  +b.SECTION.footer&attributes(attributes)
    .container
      +e.wrapper
        +grid
          +col(2)
            +e.logo Lantelia
          +col(2)
            +e.descr Профессиональная косметика для волос Lantelia
            +social('vk', 'f', 'instagram').__social
          +col(2).grid__col_links
            +e.links
              +e.A(href="#").link Продукция
              +e.A(href="#").link Где купить
              +e.A(href="#").link Обучение и новости
              +e.A(href="#").link О компании
              +e.A(href="#").link Контакты
          +col(2).grid__col_links
            +e.links
              +e.A(href="#").link Публичная оферта
              +e.A(href="#").link Доставка и оплата
          +col(2).grid__col_right
            +button('НАЧАТЬ РАБОТАТЬ С LANTELIA')._gradiented
            +e.copyright &#169; 2017 Lantelia. Все права защищены
