include ../../blocks/grid/grid
include ../../blocks/button/button
include ../../components/social/social
include ../../blocks/link/link

mixin footer()
  +b.SECTION.footer&attributes(attributes)
    .container
      +e.wrapper
        +grid
          +col(2).footer__col_logo
            +e.A(href="index.html", title="Lantelia").logo
              +icon('lantelia')
          +col(2).footer__col_social
            +e.descr Профессиональная косметика для волос Lantelia
            +social('vk', 'f', 'instagram').__social
          +col(2).footer__col_links
            +e.UL.links
              +e.LI.link
                +link()(href="catalog.html") Продукция
              +e.LI.link
                +link()(href="sales-offices.html") Где купить
              +e.LI.link
                +link()(href="newsTraining.html") Обучение и новости
              +e.LI.link
                +link()(href="about.html") О компании
              +e.LI.link
                +link()(href="contacts.html") Контакты
          +col(2).footer__col_links
            +e.UL.links
              +e.LI.link
                +link() Публичная оферта
              +e.LI.link
                +link()(href="shippingAndPayment.html") Доставка и оплата
          +col(2).footer__col_right
            +button()(href="#about-popup")._gradiented.js-fancyform НАЧАТЬ РАБОТАТЬ С LANTELIA
            +e.copyright &#169; 2017 Lantelia. Все права защищены
