include ../../blocks/grid/grid
include ../../blocks/button/button
include ../../components/social/social
include ../../blocks/link/link

mixin footer()
  +b.SECTION.footer&attributes(attributes)
    .container
      +e.wrapper
        +grid
          +col(2)
            +e.logo Lantelia
          +col(2)
            +e.descr Профессиональная косметика для волос Lantelia
            +social('vk', 'f', 'instagram').__social
          +col(2).grid__col_links
            +e.UL.links
              +e.LI.link
                +link() Продукция
              +e.LI.link
                +link() Где купить
              +e.LI.link
                +link() Обучение и новости
              +e.LI.link
                +link() О компании
              +e.LI.link
                +link() Контакты
          +col(2).grid__col_links
            +e.UL.links
              +e.LI.link
                +link() Публичная оферта
              +e.LI.link
                +link() Доставка и оплата
          +col(2).grid__col_right
            +button('НАЧАТЬ РАБОТАТЬ С LANTELIA')._gradiented
            +e.copyright &#169; 2017 Lantelia. Все права защищены
