include ../../blocks/grid/grid
include ../../blocks/button/button
include ../../components/social/social
include ../../blocks/link/link

mixin footer()
  +b.SECTION.footer&attributes(attributes)
    .container
      +e.wrapper
        +grid
          +col(2).footer__col_logo
            +icon('lantelia').logo
          +col(2).footer__col_social
            +e.descr Профессиональная косметика для волос Lantelia
            +social('vk', 'f', 'instagram').__social
          +col(2).footer__col_links
            +e.UL.links
              +e.LI.link
                +link() Продукция
              +e.LI.link
                +link() Где купить
              +e.LI.link
                +link() Обучение и новости
              +e.LI.link
                +link() О компании
              +e.LI.link
                +link() Контакты
          +col(2).footer__col_links
            +e.UL.links
              +e.LI.link
                +link() Публичная оферта
              +e.LI.link
                +link() Доставка и оплата
          +col(2).footer__col_right
            +button()._gradiented НАЧАТЬ РАБОТАТЬ С LANTELIA
            +e.copyright &#169; 2017 Lantelia. Все права защищены
