.footer {
  display: block;
  padding-top: 0;

  &__wrapper {
    padding: 55px 0 90px;
    border-top: 1px solid $color-border;
  }

  &__col {

    &_logo {
      width: 15.4%;
      padding-top: 27px;
    }

    &_social {
      width: 24.9%;
      padding-top: 24px;
      padding-right: 100px;
    }

    &_links {
      padding-top: 27px;
      width: 19.3%;
    }

    &_right {
      align-items: flex-end;
      width: 21%;
      padding: 29px 11px 0 0;
    }
  }

  .grid {

    &__col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__logo {

    svg {
      width: 149px;
      height: 18px;
      fill: $color-basic;
    }
  }

  &__descr {
    @extend %text-label;
  }

  &__links {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  &__link {
    margin-bottom: 22px;

    a {
      font-size: 11px;
      letter-spacing: .127em;
    }

    .link__text {
      color: $color-basic;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__social {
    margin-bottom: -2px;
    margin-top: $grid-gap;
  }

  &__copyright {
    @extend %text-label;

    text-align: right;
    margin-top: $grid-gap;
    margin-bottom: -5px;
  }

  // @include screen('tablet-wide', max) {
  //
  //   &__link {
  //     font-size: 10px;
  //   }
  // }
  //
  // @include screen('temp', max) {
  //
  //   &__logo {
  //     font-size: 13px;
  //   }
  // }

  @include screen('temp', max) {

    &__wrapper {
      padding: 31px 0;
    }

    &__col {

      &_social {
        padding-top: 19px;
        width: 80% !important;
      }

      &_links {
        padding-top: 33px;
      }

      &_right {
        padding: 32px 0 0;
        display: block !important;
      }
    }

    .grid {
      flex-flow: column wrap;
      margin-left: 0;
      margin-right: 0;

      &__col {
        width: 100%;

        &_two {
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
    }

    &__social {
      margin-bottom: 0;
      margin-top: 0;
    }

    .social__icon {
      width: 24px;
      height: 20px;
    }

    &__descr {
      padding-bottom: 23px;
    }

    .button {
      width: 100%;
      max-width: none;
      padding: 16px 25px 16px;
    }

    .social__item:not(:last-child) {
      margin-right: 24px;
    }

    &__copyright {
      margin: 29px 0 0;
      letter-spacing: .005em;
      text-align: left;
    }
  }

  @include screen('phone', max) {

    .grid {
      flex-flow: column wrap;

      &__col {

        &_links {
          width: 100%;
        }
      }
    }
  }
}
