include ../../blocks/form-elements/form-elements

mixin filter()
  +b.filter&attributes(attributes)
    
    +e.wrapper
      +e.item._checkbox.active(data-target="all")
        +checkbox('all', 'all', true).filter__checkbox Все
      +e.item(data-target="bottox")
        +e.image
          img(src="assets/images/picProduct/botox_250ml_05@2x.png")
        +e.text 
          | Professional 
          br
          | Bottox 
          br
          | Therapy
      +e.item(data-target="clarify")
        +e.image
          img(src="assets/images/picProduct/clarify_250ml_01@2x.png")
        +e.text
          | Professional 
          br
          | Clarifying 
          br
          | Care
      +e.item(data-target="smooth")
        +e.image
          img(src="assets/images/picProduct/smooth_250ml_01@2x.png")
        +e.text
          | Professional 
          br
          | Smoothing 
          br
          | Therapy
      +e.item(data-target="spa")
        +e.image
          img(src="assets/images/picProduct/spa_250ml_02@2x.png")
        +e.text
          | Professional 
          br
          | Clarifying 
          br
          | Care
