.filter {
  display: flex;
  flex-flow: row;

  &__wrapper {
    display: flex;
  }

  &__checkbox {
    margin-right: 48px;
    padding: 0;
    padding-top: 12px;

    .checkradio__box {
      top: auto;
      left: 2px;
      bottom: 10px;
    }
  }

  &__item {
    cursor: pointer;
    transition: opacity $ease-main;

    &:hover {
      opacity: .7;
    }

    &:not(:last-child) {
      margin-right: 36px;
    }

    &.active {

      .filter__text {
        color: $color-main;
        font-weight: 500;
      }

      .filter__image {
        opacity: 1;
      }
    }
  }

  // &__checkbox {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &__image {
    height: 92px;
    width: 92px;
    opacity: .5;
    display: inline-block;
    vertical-align: middle;
    transition: opacity $ease-main;
    will-change: opacity;
    position: relative;

    img {
      max-height: 100%;
      position: absolute;
      top: 0;
      margin: auto;
    }
  }

  &__text {
    @extend %text-line;

    color: $color-gray;
    display: inline-block;
    vertical-align: middle;
  }
}
