include ../../blocks/form-elements/form-elements

mixin filter()
  +b.filter&attributes(attributes)
    +checkbox().filter__checkbox Все
    +e.wrapper
      +e.item.active
        +e.image
          img(src="assets/images/picProduct/botox_250ml_05@2x.png")
        +e.text 
          | Professional 
          br
          | Bottox 
          br
          | Therapy
      +e.item
        +e.image
          img(src="assets/images/picProduct/clarify_250ml_01@2x.png")
        +e.text
          | Professional 
          br
          | Clarifying 
          br
          | Care
      +e.item
        +e.image
          img(src="assets/images/picProduct/smooth_250ml_01@2x.png")
        +e.text
          | Professional 
          br
          | Smoothing 
          br
          | Therapy
      +e.item
        +e.image
          img(src="assets/images/picProduct/spa_250ml_02@2x.png")
        +e.text
          | Professional 
          br
          | Clarifying 
          br
          | Care
