.filter {
  display: flex;
  flex-flow: row;
  z-index: 2;

  &__wrapper {
    display: flex;
  }

  &__checkbox {
    padding: 0;
    padding-top: 12px;

    .checkradio__box {
      top: auto;
      left: 2px;
      bottom: 10px;
    }
  }

  &__item {
    cursor: pointer;
    transition: opacity $ease-main;
    min-width: 182px;

    &:hover {
      opacity: .7;
    }

    &:not(:last-child) {
      margin-right: 37px;
    }

    &_checkbox {
      display: flex;
      margin-right: 49px !important;
      min-width: 26.4px;
    }

    &.active {

      .filter__text, .checkradio__content {
        color: $color-main;
        font-weight: 500;
      }

      .filter__image {
        opacity: 1;
      }
    }
  }

  // &__checkbox {
  //   display: inline-block;
  //   vertical-align: middle;
  // }

  &__image {
    height: 92px;
    width: 92px;
    opacity: .5;
    display: inline-block;
    vertical-align: middle;
    transition: opacity $ease-main;
    will-change: opacity;
    position: relative;

    img {
      max-height: 100%;
      position: absolute;
      top: 0;
      margin: auto;
    }
  }

  &__text {
    @extend %text-line;

    color: $color-gray;
    display: inline-block;
    vertical-align: middle;
    transition: all $ease-main;
  }

  &__button {
    padding: 20px 40px;
  }


  .choices {
    margin-right: $grid-gap;
    letter-spacing: .125em;
    min-width: 243px;
    border: 1px solid $color-border-input;

    &__list {

      &--dropdown {
        margin-top: 13px;
        text-transform: uppercase;

        .choices__item {
          padding-left: 21px;
          line-height: 55px;
          letter-spacing: .125em;

          &.is-highlighted::after {
            top: 39%;
            width: 6px;
            height: 9px;
          }
        }
      }

      &--single {

        .choices__item {
          letter-spacing: .125em;
          text-transform: uppercase;
        }
      }
    }

    &[data-type*=select-one] .choices__inner {
      padding-left: 19px;
    }


    &::after {
      right: 22px;
    }

    @include screen('tablet', max) {
      display: block;
      border: 0;
      overflow: inherit;
      margin-bottom: 0;
      padding: 0;
      margin-right: 0;

      &[data-type*=select-one] .choices__inner {
        padding-left: 0;
      }

      // .choices {
      //   border: 0;
      //   min-width: 0;
      //   margin: 0;
      //   padding-left: 0;
      //   display: inline-block;
      //   font-size: 16px;
      //   letter-spacing: normal;
      //   padding-right: 45px;
      //   line-height: 1.31;
      //   height: auto;
      // }

      // .current {
      //   text-transform: capitalize;
      // }
      //
      // .list {
      //   margin-top: 4px;
      // }
      //
      // .option {
      //   text-transform: capitalize;
      // }
    }
  }

  @include screen('tablet', max) {
    border-top: 1px solid $color-border;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    padding: 28px 0 18px;
    margin-bottom: -18px;

    &__item {
      min-width: 182px;
      margin-right: 22px;

      &_checkbox {
        min-width: 30px;
        margin-right: -5px !important;
      }

      &:not(:last-child) {
        margin-right: -11px;
      }
    }

    &__button {
      display: none;
    }

    &_contacts {
      overflow: inherit;
      border-top: 0;

      .choices__list--single .choices__item {
        text-transform: none;
      }
    }
  }
}
