.link {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;

  &__text {
    @extend %link;
  }

  &_dashed &__text {
    @extend %link-dashed;
  }

  &_white &__text {
    @extend %link-white;
  }

  &_animated {

    &::after {
      content: '';
      display: block;
      margin-top: 11px;
      position: relative;
      height: 2px;
      width: 18%;
      color: white;
      transition: width $ease-pagination;

      @extend %gradient-underline;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &_icon {
    position: relative;
    padding-left: 25px;

    .link__icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    fill: $color-main;
  }
}
