.link {
  display: inline-block;
  cursor: pointer;
  font-size: 13px;
  color: inherit;

  &__text {
    @extend %link;

    color: inherit;
  }

  &_dashed &__text {
    @extend %link-dashed;
  }

  &_white &__text {
    @extend %link-white;
  }

  &_small {
    font-size: 12px;
  }

  &_big {
    font-size: 14px;
  }

  &_animated {
    position: relative;

    &::after {
      @include pseudo;
      top: 100%;
      margin-top: 11px;
      left: 0;
      height: 2px;
      width: 100%;
      color: white;
      transition: transform $ease-main;

      transform: scale3d(.18, 1 ,1) translate3d(0, 0, 0);
      @extend %gradient-underline;
    }

    &:hover::after {
      transform: scale3d(1, 1, 1) translate3d(1, 1, 1);
    }
  }

  &_icon {
    position: relative;
    padding-left: 25px;

    .link__icon {
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  &__icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    fill: $color-main;
  }
}
