$ui-kit-color-gray: #ccc;
$ui-kit-color-text: #222;
$ui-kit-color-darkbg: #111;

.ui-kit {
  display: block;
  color: $ui-kit-color-text;

  .header_main {
    position: relative;
    background-color: $color-main;
  }

  .header {
    .container {
      padding-right: 0;
      padding-left: 0;
    }

    &__logo {
      padding-left: 0;
    }

    &__nav {
      padding-right: 0;
    }
  }

  .needHelp, .cart {
    position: absolute;
    z-index: 1;
    bottom: auto;
    right: auto;

    &-ui {
      position: relative;
      padding-bottom: 40px;
    }
  }

  .address-container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .address-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    box-sizing: border-box;
  }

  .address-card {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin-right: 24px;

    &:last-child {
      margin-right: 60px;
    }
  }

  &__navigation {
    position: fixed;
    right: 100%;
    top: 0;
    height: 100vh;
    box-shadow: 0 0 30px rgba($color-basic, .15);
    z-index: 10;
    padding: 20px;
    background-color: white;
    transform: translate3d(15%, 0, 0);
    width: 240px;
    opacity: .5;
    transition: opacity $ease-main, transform $ease-main;
    overflow: auto;
    box-sizing: border-box;

    &-burger {
      position: absolute;
      width: 18px;
      height: 14px;
      box-sizing: border-box;
      border-top: 2px solid $color-basic;
      border-bottom: 2px solid $color-basic;
      top: 9px;
      right: 9px;
      opacity: 1;
      transition: opacity $ease-main;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100%;
        height: 2px;
        background-color: $color-basic;
      }
    }

    &:hover {
      transform: translate3d(100%, 0, 0);
      opacity: 1;

      .ui-kit__navigation-burger { opacity: 0; }
    }

    li {
      @extend %text;

      a { @extend %link; }

      &:not(:last-child) { margin-bottom: 5px; }
    }
  }

  .link_white {
    background-color: $color-main;
  }

  &__head {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  &__name {
    font-size: 40px;
    font-weight: 400;
    line-height: 1.4;
  }

  &__description {
    font-size: 13px;
    line-height: 1.4;

    &:not(:first-child) { margin-top: 30px; }

    &:not(:last-child) { margin-bottom: 10px; }
  }

  &__special {
    padding: $grid-gap;
    border: 1px solid $ui-kit-color-gray;
  }

  &__logo {
    max-height: 80px;
    font-size: 20px;
    text-align: left;

    svg {
      height: 100%;
    }

    & + .ui-kit__name { margin-top: 20px; }
  }

  &__elements-list {
    margin-top: -$grid-gap;
    font-size: 0;

    > * {
      margin-right: $grid-gap;
      margin-top: $grid-gap;
    }
  }

  &__section {
    padding-top: 50px;
    padding-bottom: 50px;

    &_dark {
      background-color: $ui-kit-color-darkbg;
      color: white;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $ui-kit-color-gray;
    }

    &-head {
      margin-bottom: 30px;
      text-align: left;

      h1, h2, h3, h4, h5, h6 {
        font-size: 30px;
        font-weight: 600;
        line-height: 1.4;

        &:not(:first-child) { margin-top: 20px; }
        &:not(:last-child) { margin-bottom: 20px; }
      }

      p {
        font-size: 16px;
        line-height: 1.5;

        &:not(:last-child) { margin-bottom: 10px; }
      }
    }

    //
    // Ниже настройки для конкретных секций
    //

    &_grid .grid__col::after {
      content: '';
      display: block;
      height: 40px;
      background-color: $ui-kit-color-gray;
    }
  }

  &__ui-popups {
    margin-top: 30px;

    .popup {
      display: block !important;
      border: 1px solid $color-border;

      &:not(:first-child) { margin-top: 30px; }
    }
  }

  &__scrolldemo {
    border: 1px solid $color-border;
    max-height: 400px;

    &-block { height: 1000px; }
  }

  .news-card {
    min-height: 0;
  }

  &__color {
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    box-shadow: inset 0 0 0 1px rgba(black, .1);

    &_bg_dark { color: white; }

    &_gradient {
      &_main { @extend %gradient-main; }
      &_border { @extend %gradient-border; }
      &_card_blue { @extend %gradient-card_blue; }
      &_card_pink { @extend %gradient-card_pink; }
      &_card_gray { @extend %gradient-card_gray; }
      &_card_green { @extend %gradient-card_green; }
      &_underline { @extend %gradient-underline; }
      &_cart { @extend %gradient-cart; }
    }
  }

  &__custom-text {
    &_style-1 { @extend %text; }

    &:not(:last-child) { margin-bottom: 10px; }
  }
}
