.about-popup {
  position: relative;

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-white;
  }

  &__content {
    max-width: 696px;
    box-sizing: border-box;

    &-wrapper {
      padding: 58px $container-padding $container-padding;
    }
  }

  &__image {
    position: relative;
    min-width: 380px;
    overflow: hidden;

    img {
      @include fill-img;
    }
  }

  &__head {
    margin-bottom: 50px;

    span {
      font-size: 13px;
      display: block;
      color: $color-basic;
      margin-bottom: 24px;
    }
  }

  &__title {
    color: $color-basic;
    text-transform: uppercase;
    @extend %heading-21;
  }

  .inputbox {

    &:not(:last-child) {
      margin-bottom: 58px;
    }
  }

  .grid {
    margin-bottom: 61px;
  }

  &__button {
    width: calc(50% - 12px);
    padding: 17px 0;
  }

  &__icon-close {
    width: 13px;
    height: 13px;
    fill: $color-white;
    position: absolute;
    top: 24px;
    right: 23px;
    cursor: pointer;
    z-index: 1;

    @include transited;

    &:hover {
      opacity: .7;
    }
  }

  .textarea {
    overflow-y: hidden !important;
  }

  @include screen('temp', max) {
    margin: 0 !important;

    &__wrapper {
      flex-flow: column;
    }

    &__content, &__image {
      width: 100%;
      min-width: inherit;
    }

    &__content {
      padding-left: 22px;
      padding-right: 22px;
      max-width: none;

      &-wrapper {
        padding: 41px 0 0;
      }
    }

    &__image {
      padding-bottom: 100%;
      overflow: hidden;
      height: auto;

      img {
        @include fill-img;
        bottom: auto;
      }
    }

    &__head {
      border-bottom: 1px solid $color-border;
      padding-bottom: 33px;
      margin-bottom: 37px;

      span {
        margin-bottom: 16px;
      }
    }

    &__title {
      font-size: 18px;
    }

    .grid {
      margin: 0;

      &__col {
        width: 100%;
        padding: 0;
        display: block;
      }
    }

    .inputbox {
      margin-bottom: 46px;
    }

    .textarea {
      min-height: 40px;
      height: auto;
    }

    &__button {
      width: 100%;
      margin-bottom: 34px;
    }

    &__icon-close {
      fill: $color-main;
    }
  }
}
