extends ../../layouts/default
include ../../components/ui-kit/ui-kit
include ../../blocks/section-head/section-head
include ../../blocks/address-card/address-card
include ../../blocks/news-card/news-card
include ../../components/header/header
include ../../components/map/map
include ../../blocks/product-card/product-card
include ../../components/needHelp/needHelp
include ../../components/product-popup/product-popup
include ../../components/about-popup/about-popup
include ../../components/products/products
include ../../components/news/news
include ../../blocks/order-price/order-price
include ../../blocks/video/video
include ../../components/social/social

block head
  - var pageTitle = 'ui-kit'

block content
  
  +ui-kit
    +e.navigation
      +e.navigation-burger
      +e.UL.navigation__list
    
    +ui-kit-head
      +icon('lantelia').logo
      +e.name Lantelia
    +ui-section
      +ui-section-head
        h2 header
        p Блок: blocks/header/header
        p .header_main
      +ui-section-content()
        +header()._main
    //- Сетка
    +ui-section._grid
      +ui-section-head
        h2 Сетка
        p Отступы слева и справа от экрана: 60px ($container-padding)
        p Ширина контейнера: 1920px  ($container-width)
        p Ширина контейнера сетки: 100% ($grid-container-width)
        p Колонок: 12 ($grid-cols)
        p Горизонтальное расстояние между колонками: 24px ($grid-gap)
        p Вертикальное расстояние между колонками: 24px ($grid-gap-vertical)
        p Переменные: styles/helpers/_variables.scss
        p Блок: blocks/grid/
      +ui-section-content()
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
    
    //- Цвета
    +ui-section
      +ui-section-head
        h2 Цвета сайта
        p Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-color('black', '$color-basic', true)
          +ui-color('#252525', '$color-main', true)
          +ui-color('#777', '$color-placeholder', true)
          +ui-color('black', '$color-input', true)
          +ui-color('#7c7c7c', '$color-gray', true)
          +ui-color('#ededed', '$color-border')
          +ui-color('#ebebeb', '$color-border-popup')
          +ui-color('#dcdcdc', '$color-border-input')
          +ui-color('#e2507c', '$color-error', true)
          
    //- Цвета
    +ui-section
      +ui-section-head
        h2 Градиенты
        p Цвета для градиентов находятся в файле styles/helpers/_variables.scss
        p Сами градиенты в styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-gradient('%gradient-border')._gradient_border
          +ui-gradient('%gradient-card_blue')._gradient_card_blue
          +ui-gradient('%gradient-card_pink')._gradient_card_pink
          +ui-gradient('%gradient-card_gray')._gradient_card_gray
          +ui-gradient('%gradient-card_green')._gradient_card_green
          +ui-gradient('%gradient-underline', true)._gradient_underline
          +ui-gradient('%gradient-cart', true)._gradient_cart
    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: GothamPro ($font-main), font-weight: 300, 400, 500
        //- p Дополнительный шрифт: Times New Roman ($font-second), font-weight: 400, 600
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
        p Стили всех текстов лежат в файле styles/helpers/_text-styles.scss и должны импортироваться из него через директиву @extend и задаваться через "временные" классы %className
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (%heading-1)
            h2 Заголовок H2 (%heading-2)
            h3 Заголовок H3 (%heading-3)
            h4 Заголовок H4 (%heading-4)
            p Текст p (%text)<br> Цитата внутри текста p: <q>Цитата q</q>
            //- p <small>Тег small внутри p (%text-small)</small>
            blockquote
              p Демонстрация цитаты через тег blockquote
              h4 Внутри могут быть заголовки
              p Текст с <a href="#">ссылкой в тексте</a>
            p Картинка в тексте (img):
            img(src="assets/images/pic company/company 1@2x.jpg")
            p Маркированный список ul. Стили взяты из styles/helpers/_list-styles.scss
            ul
              li Элемент списка
              li Другой элемент
                ul
                  li Элемент списка
                  li Другой элемент
                  li Элемент списка
              li Элемент списка
            p Нумерованный список ol. Стили взяты из styles/helpers/_list-styles.scss
            ol
              li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
              li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              li Элемент списка
        +ui-description Другие стили текстов:
        +ui-custom-text._style-1 Пример кастомного стиля на примере стандартного (%text)
          
    //- //- Таблицы
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Таблицы
    //-     p Блок: blocks/table
    //-   +ui-section-content()
    //-     +table()
    //-       thead
    //-         tr
    //-           td Ячейка
    //-           td Ячейка
    //-           td Ячейка
    //-       tr
    //-         td Ячейка
    //-         td Ячейка
    //-         td Ячейка
    //-       tr
    //-         td Ячейка
    //-         td Ячейка
    //-         td Ячейка

    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +button() начать работать с lantelia
          +button()._gradiented градиентная кнопка
          +button(false, true)._white._fill-black Продолжить оформление заказа
          .bg-dark
            +button('shopping-cart')._gradiented._white Кнопка с иконкой на темном фоне
          
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +button()(href="#").js-freeze .js-freeze
          +button()(href="#").js-unfreeze .js-unfreeze
          
    //- Списки
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Списки
    //-     p Блок: blocks/lists
    //-     p По желанию можно доработать (для каких-то сложных списков). Добавить миксин +list-item и вписать туда шаблон для li
    //-   +ui-section-content()
    //-     +ui-description ul.list
    //-     +ul-list
    //-       li Элемент списка
    //-         +ul-list
    //-           li Элемент списка
    //-           li Элемент списка
    //-           li Элемент списка
    //-       li Элемент списка
    //-       li Элемент списка
    //-     +ui-description ol.list
    //-     +ol-list(ol)
    //-       li Элемент списка 
    //-       li Элемент списка
    //-         +ol-list(ol)
    //-           li Элемент списка 
    //-           li Элемент списка
    //-           li Элемент списка
    //-       li Элемент списка
          
    //- Табы
    +ui-section
      +ui-section-head
        h2 Элементы форм
        p Блок: blocks/form-elements
      +ui-section-content()
        +grid
          +col(6)
            +ui-description .input
            +inputbox('Имя', true)
              +input()(type="text", name="name", required)
          +col(6)
            +ui-description .select.js-select
            +inputbox
              select.select.js-select
                option(value="Опция 1") Опция 1
                option(value="Опция 2") Опция 2
                option(value="Опция 3") Опция 3
          //- +col(6)
          //-   +ui-description .js-datepicker<br> Параметры задаются через дата-атрибуты
          //-   +inputbox()
          //-     +input()(placeholder="Выберите дату" readonly).js-datepicker
          +col(6)
            +ui-description Поле ввода номера телефона.<br> Маска определяется через атрибут data-type="tel"
            +inputbox()
              +input()(data-type="tel", type="tel")
          +col(6)
            +ui-description Поле ввода e-mail.<br> Маска определяется через атрибут data-type="email"
            +inputbox()
              +input()(placeholder="E-mail" data-type="email", type="email")
          +col(12)
            +textarea(placeholder="Текстовое поле")
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +checkbox('ui-checkbox', 'test', 'true') Чекбокс
          +col(6)
            +ui-description .checkradio
            +inputbox()
              +ui-elements-list
                +radio('ui-radio', 'test', 'true') Радиокнопка
                +radio('ui-radio', 'test-2') Радиокнопка
      
    //- Табы
    +ui-section
      +ui-section-head
        h2 Табы
        p Блок: blocks/tabs
      +ui-section-content()
        +tabs
          +tab()(data-tab-target="tab1").active Информация
          +tab()(data-tab-target="tab2") Контент
          +tab()(data-tab-target="tab3") Тексты
        +tabs-content
          +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
            p Это таб 1
          +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
            p Это таб 2
          +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
            p Это таб 3
      
    //- Попапы
    +ui-section
      +ui-section-head
        h2 Попапы
        p Блок: blocks/popups
      +ui-section-content()
        +ui-description .js-fancybox
        +link()(href="#product1").js-fancybox Открыть попап товара
        br
        +link()(href="#about-popup").js-fancybox Открыть попап "Хочу работать с Lantelia"
        +ui-description Верстка попапов:
        +link()(onclick="$('.popups').toggle()") Показать попапы
        +product-popup('assets/images/picProduct/botox_250ml_07 (line)@2x.png', '7 990 ₽', 'product1')
        +about-popup()
        +popups.__ui-popups
          +popup().product-popup
            .product-popup__wrapper
              +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png')
              .product-popup__info
                .product-popup__info-wrapper
                  .product-popup__price-block
                    span.product-popup__text Цена
                    span.product-popup__price 7 990 ₽
                  .product-popup__foot
                    span.product-popup__text Количество
                    .product-popup__dropdown
                      select.select_bordered.select_triangle.product-popup__select.js-select
                        option(value="1", selected) 1
                        option(value='2') 2
                        option(value='3') 3
                    +button('shopping-cart')._gradiented._white.product-popup__button в корзину
              +icon('close').icon-close.modal__close.product-popup__icon-close
        +popups
          +popup().about-popup
            .about-popup__wrapper
              .about-popup__content
                .about-popup__content-wrapper
                  .about-popup__head
                    span Начать работать с
                    h2.about-popup__title Lantelia
                  form(action="#", method="post").about-popup__form
                    +grid()
                      +col(6)
                        +inputbox('Название салона', true)
                          +input()(type="text", name="name", required)
                        +inputbox('Город', true)
                          +input()(type="text", name="city", required)
                        +inputbox('ФИО', true)
                          +input()(type="text", name="fio", required)
                        +inputbox('Телефон', true)
                          +input()(type="text", name="phone", required)
                      +col(6)
                        +inputbox('EMAIL', true)
                          +input()(type="text", name="email", required)
                        +inputbox('Сообщение', true)
                          +textarea()(name="message", required)
                    +button(false, true)(type="submit", value="Отправить")._white._fill-black.about-popup__button отправить
              .about-popup__image
                img(src="assets/images/form@2x.jpg")
            +icon('close')(data-fancybox-close).icon-close.modal__close.about-popup__icon-close
        
    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
        p Стили ссылок: helpers/_link-styles.scss
      +ui-section-content()
        +ui-description .link
        +link()(href="#") Обычная ссылка
        +ui-description .link._white
        +link()(href="#")._white Белая ссылка на темном фоне
        +ui-description .link._animated
        +link()(href="#")._animated Ссылка с анимацией и градиентом
        //- +ui-description .link._dashed
        //- +link()(href="#")._dashed Пунктирная ссылка
        //- +ui-description .link._icon
        //- +link-icon('refresh')(href="#") Ссылка с иконкой
          
    //- //- Скроллбар
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Кастомный скроллбар
    //-     p Блок: blocks/scrollbar/scrollbar
    //-   +ui-section-content()
    //-     +ui-description .js-scrollbar
    //-     +e.scrolldemo.js-scrollbar
    //-       +e.scrolldemo-block

    //- Селект
    +ui-section
      +ui-section-head
        h2 Кастомный селект
      +ui-section-content()
        +ui-description .js-select
        +e.SELECT.select.js-select
          option(value, selected) Все офисы продаж
          option(value='moskow') Москва
          option(value='spb') Санкт-Петербург
          
    //- Заголовок секции
    +ui-section
      +ui-section-head
        h2 Заголовок секции
      +ui-section-content()
        +section-head('Компания Lantelia', 'Информация')
          
    //- Слайдер
    +ui-section
      +ui-section-head
        h2 Слайдер
      +ui-section-content()
        +slider()
          +slide()
            +address-card('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234')
          +slide()
            +address-card('Молен Руж', 'Санкт-Петербург, просп. Науки, 23а')
          +slide()
            +address-card('Петровский пассаж', 'Псков, Рижский пр-кт, д.16')
          +slide()
            +address-card('Райкин Плаза', 'Москва, Северный бульвар 3к2')
          +slide()
            +address-card('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234')
          +slide()
            +address-card('Торговый центр Палладиум', 'Псков, Рижский пр-кт, д.16')
          +slide()
            +address-card('Авиапарк', 'Москва, Тверская улица 7')
          +slide()
            +address-card('Афимолл Сити', 'Санкт-Петербург, просп. Науки, 23а')

    //- Карточки адресов
    +ui-section
      +ui-section-head
        h2 Карточки адресов
        p Блок: blocks/address-card/address-card
      +ui-section-content()
        +address-card('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234')
    
    //- Карточки новостей
    +ui-section
      +ui-section-head
        h2 Карточки новостей 
        p Блок: blocks/news-card/news-card
      +ui-section-content()
        +news()
          +col(3)
            +news-card('Новость', '+news-card()', 'Читать')
          +col(3)
            +news-card('Новость', '+news-card()._colored._colored_pink', 'Читать')._colored._colored_pink
          +col(3)
            +news-card('Новость', '+news-card()._colored._colored_yellow', 'Читать')._colored._colored_yellow
          +col(3)
            +news-card('Новость', '+news-card()._colored._colored_blue', 'Читать')._colored._colored_blue
          +col(3)
            +news-card('Обучение', '+news-card()._colored._colored_green', 'Читать')._colored._colored_green
        +ui-description +news-card-large()
        +news-card-large('О компании', 'Профессиональная косметика для волос премиум сегмента для самых искушенных', 'Подробнее')
        //- +ui-description +news-card()
        //- +news-card('Новость', 'Еще один магазин Lantelia открылся в в Варшаве. Подарки первым десяти покупателям.', 'Читать')
        //- +ui-description +news-card()._colored._colored_pink
        //- +news-card('Обучение', 'Обучающий Мастер-класс по применению линнии Professional Botox Therapy', 'Подробнее')._colored._colored_pink
        //- +ui-description +news-card()
        //- +news-card('Обучение', 'Обучающий Мастер-класс по применению линнии Professional SPA Therapy', 'Подробнее')._colored._colored_yellow
    
    //- Карточки товаров
    +ui-section
      +ui-section-head
        h2 Карточки товаров
        p Блок: blocks/product-card/product-card
      +ui-section-content()
      +products()
        +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png', '#product1')
        +product-card('assets/images/picProduct/clarify_250ml_03(line)@2x.png', '#product2')
        +product-card('assets/images/picProduct/botox_100ml_04(procedure).png', '#product3')._xl
        +product-card('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png', '#product4')._xl
        +product-card('assets/images/picProduct/spa_250ml_03(line)@2x.png', '#product5')
        +product-card('assets/images/picProduct/smooth_250ml_03(line)@2x.png', '#product6')
        //- +ui-description стандартная карточка product-card
        //- +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png')
        //- +ui-description большая карточка .product-card_xl
        //- +product-card('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png')._xl
        
    //- //- Подсказки
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Подсказки
    //-     p Блок: blocks/tooltip/tooltip
    //-   +ui-section-content()
    //-     +ui-description .js-tooltip
    //-     +button()(href="#" title="Пример подсказки").js-tooltip Пример подсказки
    
    //- Нужна помощь
    +ui-section
      +ui-section-head
        h2 Круглый блок - нужна помощь и корзина
        p Блок: components/needHelp/needHelp
      +ui-section-content()
        +ui-description нужна помощь
        .needHelp-ui
          +needHelp()
        +ui-description корзина
        .needHelp-ui
          +addcart()
    
    //- Цена
    +ui-section
      +ui-section-head
        h2 Блок цены с описанием
        p Блок: blocks/order-price/order-price
      +ui-section-content()
        +order-price('Стоимость заказа', '29 990')
        
    //-Видео
    +ui-section
      +ui-section-head
        h2 Видео
        p Блок: blocks/video/video
      +ui-section-content()
        +video('assets/images/video@2x.jpg', 'https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&amp;rel=0&amp;showinfo=0').training-page__video
    
    //- Социальные кнопки
    +ui-section
      +ui-section-head
        h2 Социальные кнопки
        p Блок: blocks/social/social
      +ui-section-content()
        +social('vk', 'f', 'twitter', 'instagram').__social
    //- Карты
    +ui-section
      +ui-section-head
        h2 Карты
        p Блок: components/map/map
      +ui-section-content()
        +ui-description #contactMap
        +map()#contactMap

  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
