extends ../../layouts/default
include ../../components/ui-kit/ui-kit
include ../../blocks/section-head/section-head
include ../../blocks/address-card/address-card
include ../../blocks/news-card/news-card
include ../../components/header/header
include ../../components/map/map
include ../../blocks/product-card/product-card
include ../../components/needHelp/needHelp

block head
  - var pageTitle = 'Versta Project Template'

block content
  
  +ui-kit
    +e.navigation
      +e.navigation-burger
      +e.UL.navigation__list
    
    +ui-kit-head
      +e.logo Логотип
      +e.name Lantelia
    +ui-section
      +ui-section-head
        h2 header
        p Блок: blocks/header/header
        p .header_main
      +ui-section-content()
        +header()._main
    //- Сетка
    +ui-section._grid
      +ui-section-head
        h2 Сетка
        p Отступы слева и справа от экрана: 60px ($container-padding)
        p Ширина контейнера: 1920px  ($container-width)
        p Ширина контейнера сетки: 100% ($grid-container-width)
        p Колонок: 12 ($grid-cols)
        p Горизонтальное расстояние между колонками: 24px ($grid-gap)
        p Вертикальное расстояние между колонками: 24px ($grid-gap-vertical)
        p Переменные: styles/helpers/_variables.scss
        p Блок: blocks/grid/
      +ui-section-content()
        +grid
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(1)
          +col(4)
          +col(4)
          +col(4)
          +col(6)
          +col(6)
    
    //- Цвета
    +ui-section
      +ui-section-head
        h2 Цвета сайта
        p Переменные находятся в файле styles/helpers/_variables.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-color('black', '$color-basic', true)
          +ui-color('#252525', '$color-main', true)
          +ui-color('#777', '$color-placeholder', true)
          +ui-color('black', '$color-input', true)
          +ui-color('#ededed', '$color-border')
          +ui-color('#ebebeb', '$color-border-popup')
          
    //- Цвета
    +ui-section
      +ui-section-head
        h2 Градиенты
        p Цвета для градиентов находятся в файле styles/helpers/_variables.scss
        p Сами градиенты в styles/helpers/_gradients.scss
      +ui-section-content()
        +ui-elements-list()
          +ui-gradient('%gradient-border')._gradient_border
          +ui-gradient('%gradient-card_blue')._gradient_card_blue
          +ui-gradient('%gradient-card_pink')._gradient_card_pink
          +ui-gradient('%gradient-card_gray')._gradient_card_gray
          +ui-gradient('%gradient-card_green')._gradient_card_green
          +ui-gradient('%gradient-underline', true)._gradient_underline
          +ui-gradient('%gradient-cart', true)._gradient_cart
    //- Шрифты и контентная зона
    +ui-section
      +ui-section-head
        h2 Шрифты и контентная зона
        p Основной шрифт: GothamPro ($font-main), font-weight: 300, 400, 500
        //- p Дополнительный шрифт: Times New Roman ($font-second), font-weight: 400, 600
        p Переменные находятся в файле styles/helpers/_variables.scss
        p Шрифты подключены в styles/helpers/_fonts.scss
        p Контентная зона: blocks/content-zone
        p Стили всех текстов лежат в файле styles/helpers/_text-styles.scss и должны импортироваться из него через директиву @extend и задаваться через "временные" классы %className
      +ui-section-content()
        +ui-description .content-zone
        +ui-special()
          +content-zone
            h1 Заголовок H1 (%heading-1)
            h2 Заголовок H2 (%heading-2)
            h3 Заголовок H3 (%heading-3)
            p Текст p (%text)<br> Цитата внутри текста p: <q>Цитата q</q>
            //- p <small>Тег small внутри p (%text-small)</small>
            blockquote
              p Демонстрация цитаты через тег blockquote
              h4 Внутри могут быть заголовки
              p Текст с <a href="#">ссылкой в тексте</a>
            p Картинка в тексте (img):
            img(src="http://verstaburo.com/patterns/pattern.jpg")
            p Маркированный список ul. Стили взяты из styles/helpers/_list-styles.scss
            ul
              li Элемент списка
              li Другой элемент
                ul
                  li Элемент списка
                  li Другой элемент
                  li Элемент списка
              li Элемент списка
            p Нумерованный список ol. Стили взяты из styles/helpers/_list-styles.scss
            ol
              li Элемент списка
              li Другой элемент
                ol
                  li Элемент списка
                  li Другой элемент
                  li Элемент списка
              li Элемент списка
        +ui-description Другие стили текстов:
        +ui-custom-text._style-1 Пример кастомного стиля на примере стандартного (%text)
          
    //- //- Таблицы
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Таблицы
    //-     p Блок: blocks/table
    //-   +ui-section-content()
    //-     +table()
    //-       thead
    //-         tr
    //-           td Ячейка
    //-           td Ячейка
    //-           td Ячейка
    //-       tr
    //-         td Ячейка
    //-         td Ячейка
    //-         td Ячейка
    //-       tr
    //-         td Ячейка
    //-         td Ячейка
    //-         td Ячейка

    //- Кнопки
    +ui-section
      +ui-section-head
        h2 Кнопки
        p Блок: blocks/button
      +ui-section-content()
        +ui-elements-list()
          +button('button')
          +button('button')._gradiented
          +button('button')._black
          
        +ui-description При клике на .js-anchor происходит скролл к элементу из атрибута href. Блок: blocks/js-functions/anchor.js
        +button()(href="#section0").js-anchor .js-anchor
        +ui-description При клике на .js-freeze скролл страницы блокируется, на .js-unfreeze разблокируется. Блок: blocks/js-functions/freeze.js. Функции freeze() и unfreeze() можно импортировать и использовать в модалках, бургере или где-то еще
        +ui-elements-list()
          +button()(href="#").js-freeze .js-freeze
          +button()(href="#").js-unfreeze .js-unfreeze
          
    //- Списки
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Списки
    //-     p Блок: blocks/lists
    //-     p По желанию можно доработать (для каких-то сложных списков). Добавить миксин +list-item и вписать туда шаблон для li
    //-   +ui-section-content()
    //-     +ui-description ul.list
    //-     +ul-list
    //-       li Элемент списка
    //-         +ul-list
    //-           li Элемент списка
    //-           li Элемент списка
    //-           li Элемент списка
    //-       li Элемент списка
    //-       li Элемент списка
    //-     +ui-description ol.list
    //-     +ol-list(ol)
    //-       li Элемент списка 
    //-       li Элемент списка
    //-         +ol-list(ol)
    //-           li Элемент списка 
    //-           li Элемент списка
    //-           li Элемент списка
    //-       li Элемент списка
          
    //- //- Табы
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Элементы форм
    //-     p Блок: blocks/form-elements
    //-   +ui-section-content()
    //-     +grid
    //-       +col(6)
    //-         +ui-description .input
    //-         +inputbox
    //-           +input(placeholder="Плейсхолдер")
    //-       +col(6)
    //-         +ui-description .select.js-select
    //-         +inputbox
    //-           +select
    //-             option(value="Опция 1") Опция 1
    //-             option(value="Опция 2") Опция 2
    //-             option(value="Опция 3") Опция 3
    //-       +col(6)
    //-         +ui-description .js-datepicker<br> Параметры задаются через дата-атрибуты
    //-         +inputbox()
    //-           +input()(placeholder="Выберите дату" readonly).js-datepicker
    //-       +col(6)
    //-         +ui-description Поле ввода номера телефона.<br> Маска определяется через атрибут data-type="tel"
    //-         +inputbox()
    //-           +input()(placeholder="+7 (___) ___-__-__" data-type="tel")
    //-       +col(6)
    //-         +ui-description Поле ввода e-mail.<br> Маска определяется через атрибут data-type="email"
    //-         +inputbox()
    //-           +input()(placeholder="E-mail" data-type="email")
    //-       +col(6)
    //-         +ui-description .js-number-input<br> Поле изменения количества
    //-         +inputbox()
    //-           +input-number()(placeholder="Количество товара")
    //-       +col(12)
    //-         +textarea(placeholder="Текстовое поле")
    //-       +col(6)
    //-         +ui-description .checkradio
    //-         +inputbox()
    //-           +checkbox('ui-checkbox', 'test', 'true') Чекбокс
    //-       +col(6)
    //-         +ui-description .checkradio
    //-         +inputbox()
    //-           +ui-elements-list
    //-             +radio('ui-radio', 'test', 'true') Радиокнопка
    //-             +radio('ui-radio', 'test-2') Радиокнопка
    //-       +col(6)
    //-         +ui-description .range.js-range<br> Все параметры задаются дата-атрибутами
    //-         +inputbox()
    //-           +range()(data-start='40', data-connect='[true, false]', data-min='0', data-max='100')
    //-   
    //- //- Табы
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Табы
    //-     p Блок: blocks/tabs
    //-   +ui-section-content()
    //-     +tabs
    //-       +tab()(data-tab-target="tab1").active Информация
    //-       +tab()(data-tab-target="tab2") Контент
    //-       +tab()(data-tab-target="tab3") Тексты
    //-     +tabs-content
    //-       +tab-wrapper()(data-tab="tab1" data-tab-group="testtabs").active
    //-         p Это таб 1
    //-       +tab-wrapper()(data-tab="tab2" data-tab-group="testtabs")
    //-         p Это таб 2
    //-       +tab-wrapper()(data-tab="tab3" data-tab-group="testtabs")
    //-         p Это таб 3
      
    //- Попапы
    +ui-section
      +ui-section-head
        h2 Попапы
        p Блок: blocks/popups
      +ui-section-content()
        +ui-description .js-fancybox
        +link()(href="#testpopup").js-fancybox Открыть попап
        +ui-description Верстка попапов:
        +link()(onclick="$('.popups').toggle()") Показать попапы
        +popups.__ui-popups
          +popup#testpopup
            +content-zone
              h2 Тестовый попап
              p С тестовым контентом
        
    //- Ссылки
    +ui-section
      +ui-section-head
        h2 Ссылки
        p Блок: blocks/link
        p Стили ссылок: helpers/_link-styles.scss
      +ui-section-content()
        +ui-description .link
        +link()(href="#") Обычная ссылка
        +ui-description .link._white
        +link()(href="#")._white Белая ссылка на темном фоне
        +ui-description .link._animated
        +link()(href="#")._animated Ссылка с анимацией и градиентом
        //- +ui-description .link._dashed
        //- +link()(href="#")._dashed Пунктирная ссылка
        //- +ui-description .link._icon
        //- +link-icon('refresh')(href="#") Ссылка с иконкой
          
    //- //- Скроллбар
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Кастомный скроллбар
    //-     p Блок: blocks/scrollbar/scrollbar
    //-   +ui-section-content()
    //-     +ui-description .js-scrollbar
    //-     +e.scrolldemo.js-scrollbar
    //-       +e.scrolldemo-block

    //- Селект
    +ui-section
      +ui-section-head
        h2 Кастомный селект
      +ui-section-content()
        +ui-description .js-select
        +e.SELECT.select.js-select
          option(value, selected) Все офисы продаж
          option(value='moskow') Москва
          option(value='spb') Санкт-Петербург
          
    //- Заголовок секции
    +ui-section
      +ui-section-head
        h2 Заголовок секции
      +ui-section-content()
        +section-head('Компания Lantelia', 'Информация')
          
    //- Слайдер
    +ui-section
      +ui-section-head
        h2 Слайдер
      +ui-section-content()
      .address-container
        .address-wrapper
          +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker1')
          +address-card-linkedToMap('Молен Руж', 'Санкт-Петербург, просп. Науки, 23а', 'marker2')
          +address-card-linkedToMap('Петровский пассаж', 'Псков, Рижский пр-кт, д.16', 'marker3')
          +address-card-linkedToMap('Райкин Плаза', 'Москва, Северный бульвар 3к2', 'marker4')
          +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker5')

    //- Карточки адресов
    +ui-section
      +ui-section-head
        h2 Карточки адресов
        p Блок: blocks/address-card/address-card
      +ui-section-content()
        +address-card('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234')
    
    //- Карточки новостей
    +ui-section
      +ui-section-head
        h2 Карточки новостей
        p Блок: blocks/news-card/news-card
      +ui-section-content()
        +ui-description +news-card-large()
        +news-card-large('О компании', 'Профессиональная косметика для волос премиум сегмента для самых искушенных', 'Подробнее')
        +ui-description +news-card()._with-hover
        +news-card('Новость', 'Еще один магазин Lantelia открылся в в Варшаве. Подарки первым десяти покупателям.', 'Читать')._with-hover
        +ui-description +news-card()._colored._pink
        +news-card('Обучение', 'Обучающий Мастер-класс по применению линнии Professional Botox Therapy', 'Подробнее')._colored._pink
        +ui-description +news-card()._colored._gray
        +news-card('Обучение', 'Обучающий Мастер-класс по применению линнии Professional SPA Therapy', 'Подробнее')._colored._gray
    
    //- Карточки товаров
    +ui-section
      +ui-section-head
        h2 Карточки товаров
        p Блок: blocks/product-card/product-card
      +ui-section-content()
        +ui-description стандартная карточка product-card
        +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png')
        +ui-description большая карточка .product-card_xl
        +product-card('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png')._xl
        
    //- //- Подсказки
    //- +ui-section
    //-   +ui-section-head
    //-     h2 Подсказки
    //-     p Блок: blocks/tooltip/tooltip
    //-   +ui-section-content()
    //-     +ui-description .js-tooltip
    //-     +button()(href="#" title="Пример подсказки").js-tooltip Пример подсказки
    
    //- Нужна помощь
    +ui-section
      +ui-section-head
        h2 Круглый блок - нужна помощь и корзина
        p Блок: components/needHelp/needHelp
      +ui-section-content()
        +ui-description нужна помощь
        .needHelp-ui
          +needHelp()
        +ui-description корзина
        .needHelp-ui
          +cart()
        
    //- Карты
    +ui-section
      +ui-section-head
        h2 Карты
        p Блок: components/map/map
      +ui-section-content()
        +ui-description #main-map
        +map()#main-map

  script
    |
    | $('.ui-kit__section').each(function (i) {
    |   var id = 'section' + i;
    |   var name = $(this).find('.ui-kit__section-head h2').text();
    |   var li = $('<li></li>');
    |   var a = $('<a></a>');
    |
    |   a.attr('href', '#'+id).text(name).addClass('js-anchor');
    |   li.append(a);
    |
    |   $('.ui-kit__navigation__list').append(li);
    |   $(this).attr('id', id);
    | });
