extends ../../layouts/main
include ../../components/main-slider/main-slider
include ../../components/whereToBuy/whereToBuy
include ../../components/products/products
include ../../components/map/map
include ../../components/aboutcompany/aboutcompany
include ../../components/product-popup/product-popup

block head
  - var pageTitle = 'Главная - Lantelia'

block content
  +b.index
    +main-slider().js-parallax
    +products()
    +whereToBuy()
    +map()
    +aboutcompany()
