extends ../../layouts/main
include ../../components/main-slider/main-slider
include ../../components/whereToBuy/whereToBuy
include ../../components/main-products/main-products
include ../../components/map/map
include ../../components/aboutcompany/aboutcompany
include ../../components/product-popup/product-popup

block head
  - var pageTitle = 'Versta Project Template'

block content
  +b.index
    #grayscreen
    +main-slider()
    +main-products()
    +whereToBuy()
    +map()
    +aboutcompany()
