extends ../../layouts/main
include ../../components/main-slider/main-slider
include ../../components/whereToBuy/whereToBuy
include ../../components/products/products
include ../../components/map/map
include ../../components/aboutcompany/aboutcompany
include ../../components/product-popup/product-popup

block head
  - var pageTitle = 'Главная - Lantelia'

block content
  +b.index
    +main-slider().js-parallax
    +products()
      +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png', '#product1')
      +product-card('assets/images/picProduct/clarify_250ml_03(line)@2x.png', '#product2')
      +product-card('assets/images/picProduct/botox_100ml_04(procedure).png', '#product3')._xl
      +product-card('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png', '#product4')._xl
      +product-card('assets/images/picProduct/spa_250ml_03(line)@2x.png', '#product5')
      +product-card('assets/images/picProduct/smooth_250ml_03(line)@2x.png', '#product6')
    +whereToBuy()
    +map()
    +aboutcompany()
