.contacts {
  display: block;
  padding-bottom: 0;

  .section__head {
    margin-bottom: 46px;
  }

  .map {
    height: 715px;
  }

  @include screen('temp', max) {
    padding-top: 89px;
    padding-bottom: 0;

    .section__head {
      display: block;
      margin-bottom: 35px;
    }

    .section-head {
      margin-bottom: $grid-gap;
    }

    .map {
      display: block;
      height: 100vh;
    }

    .filter {
      transform: none;
      padding: 0;
    }
  }
}
