.contacts {
  display: block;
  padding-bottom: 0;

  .section__head {
    margin-bottom: 53px;
  }


  @include screen('temp', max) {
    padding-top: 89px;
    padding-bottom: 0;

    .section__head {
      display: block;
      margin-bottom: 35px;
    }
    .map {
      display: block;
      height: 100vh;
    }

    .filter {
      transform: none;
      padding: 0;
    }
  }
}
