include ../../blocks/section-head/section-head
include ../../components/filter/filter-contacts
include ../../components/map/map

mixin contacts()
  +b.SECTION.section.contacts&attributes(attributes)
    .container
      .section__head.section__head_flex
        +section-head('Где купить', 'Офисы продаж')
        +filter-contacts('Показать списком', 'sales-offices.html')
    +map()#contactMap
