.section-head {

  &__subtitle {
    @extend %heading-4;
    display: inline-block;

    margin-bottom: 20px;
  }

  &__wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  &__title {
    @extend %heading-2;
  }

  &__select {
    display: none;
  }

  &__filter {
    margin-top: -9px;
  }

  @include screen('temp', max) {
    display: block !important;

    &__subtitle {
      margin: 0 0 13px;
    }

    &__title {
      font-size: 18px;
      letter-spacing: .02em;
      color: $color-main;
    }

    &__select {
      margin-top: 12px;
      display: block;
      background-color: transparent;
      font-size: 16px;
      padding-right: 38px;
    }

    &__filter {
      margin-top: 31px;
    }
  }
}

// .js-select {
//   border: 0;
//   font-weight: 400;
//   padding-left: 0;
//   padding-right: 35px;
//
//   &::after {
//     border-color: $color-basic;
//     width: 8px;
//     height: 8px;
//     top: 45%;
//     border-width: 1px;
//     right: 14px;
//   }
//
//   .option {
//     font-weight: 300;
//   }
// }
