mixin section-head(subtitle, title, dropdown)
  +b.section-head&attributes(attributes)
    +e.wrapper
      +e.H4.subtitle= subtitle
      +e.H2.title= title
      if dropdown
        +e.SELECT.select.select.js-select
          option(value="all", selected) Все офисы продаж
          option(value='msk') Москва
          option(value='spb') Санкт-Петербург
    block
