.section-head {
  margin: 0 0 54px;

  &__subtitle {
    font-size: 13px;
    color: $color-gray;
    margin-bottom: 27px;
    font-weight: 300;
  }

  &__title {
    font-size: 28px;
    letter-spacing: .029em;
    text-transform: uppercase;
    font-weight: 300;
  }

  .nice-select {
    display: none;
  }

  @include screen('temp', max) {

    .nice-select {
      display: block;
      margin-bottom: 20px;
      background-color: transparent;
    }

    &__subtitle {
      margin: 30px 0 10px;
    }

    &__title {
      font-size: 18px;
      letter-spacing: .028em;
      color: $color-main;
      margin-bottom: 28px;
    }
  }
}

.js-select {
  border: 0;
  font-weight: 400;
  padding-left: 0;
  padding-right: 35px;

  &::after {
    border-color: $color-main;
    width: 6px;
    height: 6px;
    top: 46%;
  }

  .option {
    font-weight: 300;
  }
}
