include ../../blocks/section-head/section-head
include ../../components/map/map

mixin shippingAndPayment()
  +b.shippingAndPayment&attributes(attributes)
    .container
      .section__head
        +section-head('Информация', 'Доставка и оплата')
      +e.content
        +e.item
          +e.wrapper
            +grid
              +col(2)
                +e.SPAN.label Москва
              +col(7)
                +e.H3.title Курьерская доставка по Москве (в пределах МКАД)
                +e.P.text Бесплатная доставка от 3 000 руб.
                +e.P.text
                  | Курьер LANTELIA (по Москве):
                  br
                  | Доставка осуществляется на следующий день.
                  br
                  | Стоимость: 250 руб.
                +e.P.text Способ оплаты: Наличные, по Карте
                +e.H3.title Самовывоз
                +e.P.text
                  | При себе иметь паспорт или иной документ подтверждающий личность - для входа на территорию бизнес-центра.
                  br
                  | Стоимость: 0 руб.
                +e.P.text Оплата заказа в пункте самовывоза осуществляется только НАЛИЧНЫМИ
                +e.P.text 
                  | Адрес: ул. Ярославская 8 к.5
                  br
                  | Режим работы: пн.-пт. c 10:00 – 18:00
              +col(3)
                +map()#shippingMap.shippingAndPayment__map
                +e.SPAN.label Пункт самовывоза в Москве:
                +e.P.label2 
                  | ул. Ярославская 8 к.5 
                  br
                  | Режим работы: пн.-пт. c 10:00 – 18:00
        +e.item
          +e.wrapper
            +grid
              +col(2)
                +e.SPAN.label Московская обл
              +col(7)
                +e.H3.title Курьерская доставка по Московской области
                +e.P.text Бесплатная доставка от 7 000 руб.
                +e.P.text
                  | Курьер LANTELIA: Доставка осуществляется на следующий день.
                  br
                  | Ближайшее Подмосковье (до ~10 км от МКАД: Митино, Мытищи, Балашиха, Реутов, Люберцы, Видное, Одинцово, Красногорск, Химки и др.)
                  br
                  | Стоимость: 400 руб.
                +e.H3.title Доставка Транспортными Компаниями
                +e.P.text
                  | СДЭК:
                  br
                  | Экспресс лайт дверь-дверь, после 100% оплаты!
                  br
                  | Стоимость: 250 руб.
                +e.P.text
                  | ПОЧТА РОССИИ:
                  br
                  | Забор заказа в почтовом отделении по месту жительства, после 100% оплаты!
                  br
                  | Стоимость: 250 руб.
                +e.P.text Способ оплаты: Наличными, Банковская карта, Robokassa, извещением для банка
              
        +e.item
          +e.wrapper
            +grid
              +col(2)
                +e.SPAN.label Вся Россия
              +col(7)
                +e.H3.title Доставка по России
                +e.P.text Мы отправляем заказы по всей России. Срок оформления заказа составляет 1 рабочий день, после оплаты заказ отправляется в соответствующую службу доставки.
                +e.P.text ДОСТАВКА ЗАКАЗА ОСУЩЕСТВЛЯЕТСЯ, ТОЛЬКО при 100% ПРЕДОПЛАТЕ!
                +e.P.text Доставка Транспортными Компаниями
                +e.P.text
                  | СДЭК:
                  br
                  | Экспресс лайт дверь-дверь, после 100% оплаты!
                  br
                  | Стоимость: 350 руб.
                +e.P.text
                  | ПОЧТА РОССИИ:
                  br
                  | Забор заказа в почтовом отделении по месту жительства, после 100% оплаты!
                  br
                  | Стоимость: 350 руб.
                +e.P.text Способ оплаты: Банковская карта, Robokassa, извещением для банка
                +e.P.text Если вас интересует любая другая служба доставка, просьба уточнять стоимость доставки по телефонам: 
                +e.P.text 
                  | Бесплатно для звонков по России
                  br
                  | Тел.: 8 800 874 54 60
