.shippingAndPayment {
  padding: 59px 0 4px;

  .section__head {
    margin-bottom: 46px;
  }

  &__content {
    border-top: 1px solid $color-border;
  }

  &__item {
    padding: 56px 0 54px;

    &:not(:last-child) {
      border-bottom: 1px solid $color-border;
    }
  }

  &__wrapper {
    padding: 0 72px;
  }

  .grid {
    margin-left: -45px;
    margin-right: -45px;

    &__col {
      padding: $grid-gap 45px 0;

      &_seven {
        width: 57.9%;
        padding-left: 34px;
        padding-right: 80px;
      }

      &_three {
        padding-left: 0;
        padding-right: 39px;
      }
    }
  }

  &__map {
    margin-bottom: 29px;


    .leaflet-control-container {
      z-index: 400;
    }
  }


  &__title {
    @extend %heading-3;

    margin: 0 0 45px;
    position: relative;

    &:not(:first-child):not(:last-child) {
      margin: 53px 0 45px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .js-label {

    &::after {
      @include pseudo;

      display: none;
      border-right: 1px solid $color-main;
      border-bottom: 1px solid $color-main;
      width: 8px;
      height: 8px;
      top: 38%;
      right: 1px;
      transform: rotate(45deg) translate(0, -50%);
      transition: transform $ease-main;
    }
  }

  &__text {
    @extend %text;

    &:not(:last-child) {
      margin-bottom: 26px;
    }
  }

  &__label {
    @extend %text-label;

    color: $color-main;
  }

  &__label2 {
    @extend %text-label;

    color: $color-gray;
    margin-top: 19px;
    line-height: 2;
    letter-spacing: .05em;
  }

  &__map {
    height: 396px;

    .leaflet-popup-content {
      margin-top: 40px;
    }
  }

  @include screen('desktop-wide', max) {

    &__wrapper {
      padding: 0;
    }
  }

  @include screen('temp', max) {
    padding-top: 95px;

    .section__head {
      margin-bottom: 31px;
    }

    .grid {
      margin: 0;

      &__col {

        &_two {
          display: none;
        }

        &_three {
          width: 100%;
          padding: 0;
        }

        &_seven {
          width: 100%;
          padding: 0;
        }
      }
    }

    &__map {
      display: block;
      max-width: 100%;
      margin-top: 32px;
      margin-bottom: 9px;

      .leaflet-bottom.leaflet-left {
        display: none;
      }
    }

    &__item {
      padding: 31px 0;
    }

    &__title {
      font-size: 16px;
      line-height: 1.5;
      padding-right: $grid-gap;
      margin: 0 0 22px;

      &:not(:first-child):not(:last-child) {
        margin: 45px 0 22px;
      }

      &:last-child {
        margin-bottom: 0;
      }

    }

    .js-label {

      &::after {
        display: block;
      }

      &.active {
        margin-bottom: 0;

        &::after {
          transform: rotate(225deg);
        }
      }
    }

    &__label, &__label2 {
      display: none;
    }
  }

  @include screen('tablet', max) {

    &__map {
      height: auto;
      min-height: 149px;
    }
  }
}
