@import '../../node_modules/leaflet/dist/leaflet.css';

.map {
  display: block;
  height: 400px;
  position: relative;
  z-index: 1;
}

.leaflet-control-layers-toggle {
  background-image: url('../images/map/layers.png');
  width: 36px;
  height: 36px;
}

.leaflet-retina .leaflet-control-layers-toggle {
  background-image: url('../images/map/layers-2x.png');
  background-size: 26px 26px;
}

.leaflet-default-icon-path {
  background-image: url('../images/map/marker-icon.png');
}

.leaflet-touch .leaflet-bar, .leaflet-touch .leaflet-control-layers {
  border: none;
}

.leaflet-bar {
  margin: 0 0 24px 24px !important;
}

.leaflet-touch .leaflet-control-zoom-in, .leaflet-touch .leaflet-control-zoom-out {
  font-size: 0;
}

.leaflet-touch .leaflet-control-zoom-in {
  background: $color-main url('../images/+add.svg') no-repeat center;
}

.leaflet-touch .leaflet-control-zoom-out {
  background: $color-main url('../images/-.svg') no-repeat center;
}

.leaflet-bar a {
  transition: opacity $ease-main;
  color: $color-white;
  border: none;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, 0.11);
  background-color: $color-main;
  font-size: 0;

  &:hover {
    opacity: .7;
    background-color: $color-main;
    color: $color-white;
    border: none;
  }

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 3px;
}

.leaflet-popup-content {
  margin: 0;
  padding: 13px 20px;

  @extend %text;
}

.leaflet-container .leaflet-control-attribution { display: none; }
