.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 25px 18px;
  border: 1px solid $color-gray;
  box-sizing: border-box;
  text-align: center;

  @include transited;

  &:hover, &:active {
    opacity: .7;
  }

  &_gradiented {
    border-image-source: linear-gradient(to left, rgba(226, 100, 140, .5), rgba(101, 167, 227, .5));
    border-image-slice: 1;
  }

  &__text {
    font-size: 11px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    color: $color-basic;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-basic;
    margin-right: 12px;
  }

  &_black {

    .button__text {
      color: $color-white;
    }

    .button__icon {
      fill: $color-white;
    }
  }

  @media (max-width: 1024px) {
    padding: 10px 10px 8px;
  }
}
