//- ._gradiented - градинтный border
//- ._black

mixin button(icon, isSubmit, link)
  if (isSubmit)
    +b.BUTTON(type='submit').button&attributes(attributes)
      +e.text
        block
  else
    +b.A(href=link).button&attributes(attributes)
      if icon
        +icon(icon).icon
      +e.text
        block

mixin round(icon)
  +b.BUTTON.button._round&attributes(attributes)
    +icon(icon).icon
    block

mixin button-double(icon)
  +b.button._double&attributes(attributes)
    if icon
      +icon(icon).icon
    +e.text
      block
