.button {
  padding: 18px 27px 16px 24px;
  border: 1px solid $color-gray;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;

  @include transited;

  &:hover, &:active {
    opacity: .7;
  }

  &_gradiented {
    @extend %gradient-border;
  }

  &__text {
    font-size: 11px;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: $color-basic;
    font-weight: 300;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-basic;
    margin-right: 12px;
  }

  &_black {
    background-color: $color-main;
    // padding: 25px 0;

    .button__text {
      color: $color-white;
      font-size: 12px;
      letter-spacing: .125em;
    }

    .button__icon {
      fill: $color-white;
    }
  }

  @media (max-width: 1024px) {
    padding: 10px 10px 8px;

    &_black {
      padding: 23px 0 22px;
    }
  }
}
