.order-price {
  text-align: left;

  &__price-block {
    position: relative;
    display: block;
    @extend %heading-21;

    color: $color-main;
    font-weight: 400;
    letter-spacing: .029em;
  }

  &__text {
    @extend %text-label;

    letter-spacing: .008em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 9px;
  }
}
