include ../../blocks/product-card/product-card
include ../../components/product-popup/product-popup
include ../../blocks/modal/modal
include ../../blocks/grid/grid

mixin main-products()
  +b.SECTION.main-products&attributes(attributes)
    .container
      +e.line
        +product-card('assets/images/picProduct/botox_250ml_07 (line)@2x.png')(data-target-modal='#product-popup').js-open-modal
        +product-card('assets/images/picProduct/clarify_250ml_03(line)@2x.png')(data-target-modal='#product-popup').js-open-modal
        +product-card('assets/images/picProduct/triple.png')(data-target-modal='#product-popup')._xl.js-open-modal
        +product-card('assets/images/picProduct/smooth_100ml_05(procedure)@2x.png')(data-target-modal='#product-popup')._xl.js-open-modal
        +product-card('assets/images/picProduct/spa_250ml_03(line)@2x.png')(data-target-modal='#product-popup').js-open-modal
        +product-card('assets/images/picProduct/smooth_250ml_03(line)@2x.png')(data-target-modal='#product-popup').js-open-modal

    //- popups
    +product-popup(getData('product-card'))
