include ../../blocks/product-card/product-card

mixin main-products()
  +b.SECTION.main-products&attributes(attributes)
    +e.line
      +product-card(getData('product-card'))
      +product-card(getData('product-card-double'))
      +product-card(getData('product-card-xl'))._xl
    +e.line
      +product-card(getData('product-card-xl'))._xl
      +product-card(getData('product-card-double'))
      +product-card(getData('product-card'))
    
