.main-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 0;

  .container {
    padding: 0;
  }

  .product-card {
    width: 25%;
    max-width: none;
    border: none;
    border-right: 1px solid $color-border;
    border-bottom: 1px solid $color-border;

    &:last-child {
      border-right: none;
    }

    &_xl {
      width: 50%;
      max-width: none;
    }
  }

  &__line {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  @include screen('tablet', max) {

    &__line {
      flex-flow: column nowrap;
    }

    .product-card {
      width: 100%;
    }

    .container {
      padding: 0 22px;
    }
  }
}
