.main-products {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  .product-card {
    display: inline-flex;
  }

  &__line {
    display: flex;
  }

  @media (max-width: 768px) {

    &__line {
      flex-flow: column nowrap;
    }
  }
}
