include ../../blocks/icon/icons

mixin address-card(title, address)
  +b.address-card&attributes(attributes)
    +e.wrapper
      +e.content
        +e.H3.title= title
        +e.SPAN.address= address
      +icon('arrow').arrow
