.address-card {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #ededed;
  max-width: 376px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  z-index: 1;
  transition: border-color $ease-main;

  @include transited;

  &::after {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: $color-main;
    transition: box-shadow $ease-main, opacity $ease-main;
    box-shadow: 0 0 0 0 $color-main, 0 8px 20px 0 rgba(black, 0.21);
    opacity: 0;
  }

  &_active, &:hover {
    border-color: transparent;

    &::after {
      box-shadow: 0 0 0 8px $color-main, 0 8px 20px 8px rgba(black, 0.21);
      opacity: 1;
    }

    .address-card__title {
      color: $color-white;
    }

    .address-card__arrow {
      fill: $color-white;
    }
  }

  &__wrapper {
    display: block;
    padding: 33px 57px 34px 35px;
  }

  &__title {
    font-size: 16px;
    margin-bottom: 11px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-basic;
    transition: color $ease-main;
  }

  &__address {
    display: block;
    text-align: left;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $color-gray;
    letter-spacing: .007em;
  }

  &__arrow {
    fill: $color-basic;
    height: 24px;
    width: 24px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    transition: fill $ease-main;
  }

  @include screen('temp', max) {
    border: none;
    border-bottom: 1px solid #ededed;
    max-width: none;
    padding-right: 0;
    padding-left: 0;

    &__wrapper {
      padding: 33px 20px 36px 0;
    }

    &__title {
      margin-bottom: 13px;
    }

    &:first-child {
      border-top: 1px solid #ededed;
    }

    &:last-child {
      border-bottom: 1px solid #ededed;
    }

    &__address {
      font-size: 14px;
    }

    &__content {
      max-width: 90%;
    }

    &__arrow {
      right: -4px;
    }
  }
}
