.burger {
  cursor: pointer;

  &_active {

    .burger__icon_type_burger {
      display: none;
    }

    .burger__icon_type_close {
      display: block;
    }
  }

  &_white {

    &__icon {
      fill: $color-white;
    }
  }

  &__icon {
    display: block;
    fill: $color-white;
    will-change: fill, stroke;
    transition: fill .25s ease-in-out, stroke .25s ease-in-out;

    &:hover {
      opacity: .7;
    }

    &_type {

      &_burger {
        display: block;
        width: 20px;
        height: 20px;
      }

      &_close {
        display: none;
        width: 20px;
        height: 20px;
      }
    }
  }
}
