.burger {
  cursor: pointer;

  &_active {

    .burger__icon_type_burger {
      display: none;
    }

    .burger__icon_type_close {
      display: block;
    }
  }

  &__icon {
    display: block;
    fill: $color-main;
    will-change: fill, stroke;

    @include transited;

    &:hover {
      opacity: .7;
    }

    &_type {

      &_burger {
        display: block;
        width: 20px;
        height: 20px;
      }

      &_close {
        display: none;
        width: 20px;
        height: 20px;
      }
    }
  }
}
