%gradient-border {
  border: 1px solid $color-gray;
  border-image-source: linear-gradient(270deg, rgba(226, 100, 140, .5), rgba(101, 167, 227, .5)) !important;
  border-image-slice: 1 !important;
}

%gradient-border-bottom {
  border-bottom: 2px solid $color-gray;
  border-image-source: linear-gradient(270deg, rgba(226, 100, 140, .5), rgba(101, 167, 227, .5)) !important;
  border-image-slice: 1 !important;
}

%gradient-border-tabs {
  border-bottom: 2px solid $color-gray;
  border-image-source: linear-gradient(to left, #e2648c, #65a7e3) !important;
  border-image-slice: 1 !important;
}

%gradient-border-card {
  border: 1px solid $color-border;
  border-image-source: linear-gradient(to left, rgba(226, 100, 140, .2), rgba(101, 167, 227, .2));
  border-image-slice: 1;
}

%gradient-card_blue {
  background: linear-gradient(315deg, rgba(179, 195, 233, .5), rgba(211, 223, 243, .5));

  &::after {
    background-image: linear-gradient(rgba(22, 22, 25, .03), rgba(22, 22, 25, .03)), linear-gradient(271deg, rgba(179, 195, 233, .5), rgba(211, 223, 243, .5));
  }
}

%gradient-card_pink {
  background-image: linear-gradient(315deg, rgba(219, 178, 171, .5) 3%, rgba(242, 221, 223, .5));

  &::after {
    background-image: linear-gradient(rgba(22, 22, 25, .03), rgba(22, 22, 25, .03)), linear-gradient(271deg, rgba(219, 178, 171, .5) 3%, rgba(242, 221, 223, .5));
  }
}

%gradient-card_gray {
  background-image: linear-gradient(315deg, rgba(206, 194, 150, .5), rgba(246, 239, 215, .5));

  &::after {
    background-image: linear-gradient(rgba(22, 22, 25, .03), rgba(22, 22, 25, .03)), linear-gradient(271deg, rgba(206, 194, 150, .5), rgba(246, 239, 215, .5));
  }
}

%gradient-card_green {
  background-image: linear-gradient(315deg, rgba(156, 196, 158, .5), rgba(198, 222, 212, .5));

  &::after {
    background-image: linear-gradient(rgba(22, 22, 25, .03), rgba(22, 22, 25, .03)), linear-gradient(271deg, rgba(156, 196, 158, .5), rgba(198, 222, 212, .5));
  }
}

%gradient-underline {
  background-image: linear-gradient(to left, #e2648c, #65a7e3);
}

%gradient-cart {
  background-image: linear-gradient(225deg, #ea86a6, #5b9df0);
}

%gradient-main {
  border-image-source: linear-gradient(270deg, rgba(226, 100, 140, .5), rgba(101, 167, 227, .5));
  border-image-slice: 1;
}
