%link {
  color: $color-gray;
  border: 0;
  transition: opacity $ease-main;
  text-transform: uppercase;
  will-change: opacity;

  &:hover { opacity: .7; }
}

%link-dashed {
  border-style: dashed;
}

%link-white {
  color: $color-white;
}
