%list {
  @extend %text;

  ul, ol {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  li {
    padding-left: 75px;
    position: relative;
  }
}

%ullist {

  li::before {
    position: absolute;
    left: 0;
    top: 0;
    // content: '•';
  }
}

%ollist {
  counter-reset: list1;

  li {
    counter-increment: list1;
    list-style: none;

    &::before {
      font-size: 28px;
      line-height: 1.39;
      position: absolute;
      left: 0;
      top: 0;
      content: counter(list1, decimal-leading-zero);
    }
  }
}
