// Текстовые стили, используемые на сайте

%heading-1 {
  font-size: 36px;
  line-height: 1.39;
  font-weight: 300;
  text-transform: uppercase;
}

%heading-2 {
  font-size: 28px;
  letter-spacing: .021em;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 1.67;
}

%heading-21 {
  font-size: 28px;
  letter-spacing: .021em;
  font-weight: 300;
  line-height: 1.39;
}

%heading-3 {
  font-size: 20px;
  font-weight: 300;
  color: $color-main;
}

%heading-4 {
  font-size: 13px;
  font-weight: 300;
  color: $color-gray;
}

%heading-5 {
  font-size: 14px;
  font-weight: 500;
  color: $color-main;
  line-height: 1.64;
}

%heading-6 {
  @extend %heading-5;
}

%text {
  font-size: 14px;
  line-height: 1.86;
  color: $color-main;
}

%text-label {
  font-size: 13px;
  line-height: 1.77;
  color: $color-gray;
}

%text-name {
  font-size: 16px;
  line-height: 1.31;
}

%text-sub {
  opacity: .5;
  font-size: 16px;
  line-height: 1.44;
}

%text-big {
  font-size: 20px;
  line-height: 1.5;
}

%text-line {
  font-size: 14px;
  line-height: 1.64;
}

%text-small {
  font-size: 11px;
  line-height: 1.65;
}
