.product-popup {

  &__wrapper {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    overflow: visible;

    .product-card {
      border: none;
      cursor: default;

      &__wrapper {
        min-width: 361px;
      }

      &:hover {

        .product-card__cart {
          display: none;
        }
      }
    }
  }

  &__info, .product-card {
    min-width: 361px;
  }

  &__info {
    background-color: $color-main;
    min-width: 361px;
    position: relative;
    padding: 56px 60px 60px;
    box-sizing: border-box;

    &-wrapper {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      height: 100%;
    }
  }

  &__price {
    font-size: 28px;
    letter-spacing: .029em;
    color: $color-white;
  }

  &__price-block {
    display: flex;
    flex-flow: column nowrap;
    padding-bottom: 10px;
  }

  &__foot {
    display: flex;
    flex-flow: column nowrap;

    .product-popup__text {
      margin-bottom: 21px;
    }
  }

  &__text {
    font-size: 13px;
    color: $color-gray;
    margin-bottom: 17px;
  }

  .choices {
    border: 1px solid rgba(255, 255, 255, .09);

    width: 100%;

    &::after {
     border: 3px solid transparent;
     border-top: 6px solid $color-white;
     height: auto;
     width: auto;
     top: 53%;
     right: 18px;
     transform: none;
     transform-origin: 50% 25%;
    }

    &.is-open::after {
      transform: rotate(180deg) translate3d(0, 0, 0, 0) !important;
      border: 3px solid transparent;
      border-top: 6px solid $color-white;
    }

    &__list--single .choices__item {
      color: $color-white;
    }

    &__list--dropdown {
      border: 1px solid rgba(255, 255, 255, .09);

      .choices__item {
        padding: 0 $grid-gap;
        line-height: 40px;
      }
    }

    &[data-type*=select-one] .choices__inner, .choices__inner {
      padding-left:  $grid-gap;
    }

    &.is-open .choices__list--dropdown {
      border-color: rgba(255, 255, 255, .09);
    }
  }

  &__dropdown {
    margin-bottom: 24px;
  }

  &__button {
    padding: 14px 26px 13px;

    &__text {
      font-size: 12px;
      letter-spacing: .125em;
    }
  }

  &__icon-close {
    width: 13px;
    height: 13px;
    fill: $color-gray;
    position: absolute;
    top: 24px;
    right: 23px;
    cursor: pointer;

    @include transited;

    &:hover {
      fill: $color-white;
    }
  }

  @include screen('tablet', max) {

    .list {
      bottom: 100%;
      top: auto;
      margin-top: 0;
      margin-bottom: 4px;
    }

    &__wrapper {
      flex-flow: column nowrap;
      height: 100%;
    }

    &__info {
      width: 100%;
      min-width: 100%;
      height: 60%;
      padding: 33px 22px 22px;
    }
  }
}

/* stylelint-disable */
@include screen('tablet', max) {

  #product1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    margin: 0;

    .product-card {
      height: 40%;
      width: 100%;
      max-width: 100%;

      &__bottom {
        display: none;
      }

      &__arrow, &__cart {
        display: none;
      }

      &__top {
        width: 60%;
        margin-right: 0;
        display: block;
        margin-top: 9px;
      }

      &__line {
        margin-bottom: 5px;
      }

      &__wrapper {
        justify-content: space-around;
        height: 100%;
        padding-right: 20px;
        width: 100%;
        min-width: 100%;
      }

      &__image {
        position: relative;
        top: auto;
        width: 40%;
        align-self: flex-start;

        img {
          max-width: 100%;
          min-height: inherit;
          height: auto;
          display: block;
          margin: 0;
          object-fit: unset;
          max-height: 100%;
        }
      }
    }
  }
}
/* stylelint-enable */
