.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $color-main;
  z-index: 100000;

  &__wrapper {
    @include center-block;
  }

  &__logo {
    fill: $color-white;
    display: none;
    // transform: translate3d(50%, 0, 0);
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .236em;
    opacity: 1;
    will-change: transform, opacity;
    transition: transform $ease-preloader, opacity $ease-preloader;

    &.animated {
      transform: scale(.5) translate3d(0, 0, 0, 0);
      opacity: 0;
    }
  }
}
