.preloader {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-color: $color-main;
  z-index: 100000;

  &__wrapper {
    @include center-block;
  }

  &__logo {
    fill: $color-white;
    display: none;
    // transform: translate3d(50%, 0, 0);
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .236em;

    @include preloader-transited;

    &.animated {
      transform: scale(.5);
    }
  }
}
