.needHelp {
  position: fixed;
  bottom: 24px;
  right: 101px;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .11);
  border-radius: 100px;
  background-color: $color-basic;
  cursor: pointer;
  z-index: 100;
  min-width: 0;
  overflow: hidden;
  min-width: 54px;
  min-height: 54px;
  // transition: min-width $ease-pagination, border-radius $ease-pagination;

  // &:hover {
  //   min-width: 200.16px;
  //   border-radius: 27px;
  //
  //   .needHelp__text {
  //     visibility: visible;
  //     opacity: 1;
  //   }
  //

  &_cart {
    right: 23px;
  }

  &_opened {
    width: 54px;
    height: 54px;
    border-radius: 100px;

    .needHelp__icon {
      display: none;
    }

    .needHelp__close {
      display: inline-block;
    }

    .needHelp__text {
      display: none !important;
    }

    // &:hover {
    //   width: 54px;
    //   height: 54px;
    //   min-width: 0;
    // }
  }

  // @keyframes first {
  //
  //   from {
  //     right: 102px;
  //   }
  //
  //   to {
  //     right: 23px;
  //   }
  // }
  //
  // animation: first 1s;

  &_animated {
    @keyframes gogo {

      from {
        right: 23px;
      }

      to {
        right: 102px;
      }
    }

    right: 102px;
    transition: all $ease-main;
    animation: gogo 1s;
  }

  &__wrapper {
    padding: 15px;
  }

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: 23px;
    height: 23px;
    fill: $color-white;
    margin-right: 0;
  }

  &__close {
    width: 18px;
    height: 13px;
    position: absolute;
    display: none;
    vertical-align: middle;
    fill: $color-white;
    margin: auto;
    padding: 20px;

    @include center-block;
  }

  &__text {
    white-space: nowrap;
    display: none;
    letter-spacing: .15em;
    font-size: 12px;
    color: $color-white;
    text-transform: uppercase;
    vertical-align: middle;

    // transition: opacity $ease-pagination, visibility $ease-pagination;
    p {
      padding-left: 14px;
    }
  }

  &-popup {
    max-width: 247px;
    background-color: $color-white;
    position: fixed;
    bottom: 96px;
    right: 23px;
    z-index: 1000;
    display: none;

    &__content {
      padding: 30px 51px 26px;
    }

    &__heading {
      font-size: 16px;
      line-height: 1.5;
      color: $color-basic;
      margin-bottom: 8px;
    }

    &__text {
      font-size: 13px;
      line-height: 1.77;
      color: $color-gray;
    }

    &__phone {
      display: block;
      border-top: 1px solid $color-border-popup;
      padding: 20px 22px;
      position: relative;
    }

    &__num {
      font-size: 13px;
      letter-spacing: .077em;
      color: $color-basic;
    }

    &__icon {
      width: 24px;
      height: 23px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @include screen('tablet', max) {
    position: absolute;
    display: none;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    border-radius: 0;
    top: 0;
    right: 0;
    width: 54px;
    height: 54px;
    background-color: transparent;
    box-shadow: none;
    animation: none;

    &_main {
      display: none !important;
    }

    &__wrapper {
      padding: 16px;
    }

    &__text {
      display: none !important;
    }

    &:hover {
      border-radius: 0;
      min-width: 0;

      .needHelp__text {
        display: none;
      }

      .needHelp__icon {
        margin-right: 0;
      }
    }

    &__icon {
      fill: $color-main;
    }

    &__close {
      fill: $color-basic;
      width: 20px;
      height: 15px;
    }

    &__text {
      display: none;
    }

    &-popup {
      width: 100%;
      max-width: none;
      right: 0;
      top: 55px;
      bottom: auto;
      box-shadow: 0 8px 36px 0 rgba(0, 0, 0, .09);

      &__content {
        padding: 30px 75px 32px 22px;
      }
    }
  }
}
.addcart {
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .11);
  position: fixed;
  bottom: 24px;
  right: 23px;
  z-index: 100;
  cursor: pointer;

  // @keyframes go-left-right {
  //
  //   from {
  //     bottom: 100%;
  //   }
  //
  //   to {
  //     bottom: 24px;
  //   }
  // }
  //
  // animation: go-left-right 1s;

  @extend %gradient-cart;

  &__num {
    position: absolute;
    top: -3px;
    display: block;
    right: -3px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    font-size: 11px;
    background-color: $color-main;
    color: $color-white;
    text-align: center;
    line-height: 22px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: $color-white;
    display: inline-block;
  }

  // @include screen('tablet', max) {
  //   display: none;
  // }
}
