.catalog {
  display: block;

  .section-head {
    display: flex;
    justify-content: space-between;
  }

  .container_slider {
    padding-right: 48px;
  }

  .products {
    padding-top: $container-padding;

    &__line {
      border-top: 1px solid $color-border;
    }
  }

  @include screen('desktop-wide', max) {
    .section-head {
      display: block;
    }

    .filter {
      border-top: 1px solid $color-border;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      padding: 28px 0 18px;
      margin-bottom: -18px;
      margin-top: 31px;

      &__item {
        min-width: 182px;
        margin-right: 22px;

        &_checkbox {
          min-width: 30px;
          margin-right: -5px !important;
        }

        &:not(:last-child) {
          margin-right: -11px;
        }
      }

      &__button {
        display: none;
      }

      &_contacts {
        overflow: inherit;
        border-top: 0;

        .choices__list--single .choices__item {
          text-transform: none;
        }
      }
    }
  }

  @include screen('temp', max) {
    padding-top: 95px;
    padding-bottom: 0;

    .container_slider {
      padding-right: 0;
    }

    .section-head__wrapper {
      padding-right: 22px;
    }

    .products {
      padding-top: 28px;
      border-bottom: 0;
    }
  }
}
