.catalog {
  display: block;

  .section-head {
    display: flex;
    justify-content: space-between;
  }

  .filter {
    margin-top: -9px;
  }

  .products {
    padding-top: $container-padding;

    &__line {
      border-top: 1px solid $color-border;
    }
  }
}
