.catalog {
  display: block;

  .section-head {
    display: flex;
    justify-content: space-between;
  }

  .container_slider {
    padding-right: 48px;
  }

  .products {
    padding-top: $container-padding;

    &__line {
      border-top: 1px solid $color-border;
    }
  }

  @include screen('temp', max) {
    padding-top: 95px;
    padding-bottom: 0;

    .container_slider {
      padding-right: 0;
    }

    .section-head__wrapper {
      padding-right: 22px;
    }

    .products {
      padding-top: 28px;
      border-bottom: 0;
    }
  }
}
