.aboutcompany {
  display: block;
  padding-bottom: 60px;

  .section-head {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    flex: 1 0 auto;
  }

  .grid__col_six {
    height: auto;

    &_large {
      flex: 1;
    }
  }

  &__cell {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: stretch;

    @media (max-width: 1440px) {
      width: 100%;
      align-items: center;
      justify-content: center;
    }

    &_nested {
      display: flex;
      flex-flow: row wrap;
      flex: 1;

      .news-card {

        &:nth-child(2n) {
          margin-right: 0;

          @media (max-width: 1440px) {
            margin-right: 24px;
          }

          @media (max-width: 768px) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .news-card {

    &_xl {
      margin-bottom: 0;
    }
  }

  @media (max-width: 1024px) {

    .grid__col_six {
      width: 100%;
    }

    .news-card_xl {
      width: 100%;
      margin-right: 0;
    }

    .news-card {
      @media (max-width: 597px) {
        margin-right: 0;
      }
    }
  }

  @media (max-width: 768px) {
    padding-bottom: 36px;
  }

  @media (max-width: 597px) {

    .news-card {
      margin-right: 0;
    }
  }
}
