extends ../../layouts/default
include ../../components/orderdone/orderdone
include ../../components/extra-products/extra-products

block head
  - var pageTitle = 'Спасибо за заявку'

block content
  +orderdone()
