.map {
  display: block;
  height: 541px;
  box-sizing: border-box;
  background-color: $color-gray;

  .custom {

    .cluster-wrap {
      position: relative;
      width: 49px;
      height: 49px;
    }

    img {
      width: 49px;
      height: 49px;
      display: block;
    }

    .count {
      @include center-block;

      color: $color-white;
      font-family: $font-main;
      display: block;
    }
  }

  .leaflet-popup-content-wrapper {
    background-color: $color-main;
    border-radius: 0;
    font-family: $font-main;
    box-shadow: none;
  }

  .leaflet-control-container .leaflet-top.leaflet-left {
    display: none;
  }

  .leaflet-popup-content {
    padding: 35px 36px;
    box-sizing: border-box;
  }

  .leaflet-popup {
    margin-bottom: 15px;
    margin-top: 20px;

    &_shipping {

      .leaflet-popup-content {
        padding: $grid-gap/2;
      }
    }
  }

  .leaflet-popup-tip-container {
    display: none;
  }

  .gm-style {

    div:nth-child(2) {
      display: none;
    }
  }

  .gmnoprint, .gm-style-cc {
    display: none;
  }

  p {
    color: $color-gray;
    font-size: 13px;
    line-height: 1.77;
    margin-bottom: 26px;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 16px;
    color: $color-white;
    line-height: 1.31;
    margin-bottom: 7px;
  }

  a.leaflet-popup-close-button {
    top: 14px;
    right: 10px;
    padding: 12px;
    cursor: pointer;
    color: $color-white;
    font-weight: 300;
    font: 25px/7px Tahoma,Verdana,sans-serif;
  }

  .custom-popup {

    &__pin {
      margin-bottom: 25px;
    }
  }

  @include screen('tablet', max) {
    display: none;
  }

  .leaflet-touch .leaflet-bar a {
    width: 54px;
    height: 54px;
    line-height: 54px;
    border-radius: 50%;
  }
}
