.map {
  display: block;
  height: 541px;
  box-sizing: border-box;
  background-color: $color-gray;

  .leaflet-popup-content-wrapper {
    background-color: $color-main;
    border-radius: 0;
    font-family: $font-main;
    box-shadow: none;
  }

  .leaflet-control-container .leaflet-top.leaflet-left {
    display: none;
  }

  .leaflet-popup-content {
    margin: 35px 36px;
  }

  .leaflet-popup {
    margin-bottom: 15px;
  }

  .leaflet-popup-close-button, .leaflet-popup-tip-container {
    display: none;
  }

  .gm-style {

    div:nth-child(2) {
      display: none;
    }
  }

  .gmnoprint, .gm-style-cc {
    display: none;
  }

  p {
    color: $color-gray;
    font-size: 13px;
    line-height: 1.77;
    margin-bottom: 25px;
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h3 {
    font-size: 16px;
    color: $color-white;
    line-height: 1.31;
    margin-bottom: 7px;
  }

  @include screen('tablet', max) {
    display: none;
  }

  .leaflet-touch .leaflet-bar a {
    width: 54px;
    height: 54px;
    line-height: 54px;
    border-radius: 50%;
  }
}
