.extra-products {
  display: block;

  .swiper-slide {
    width: 25%;
    border: 1px solid $color-border;
    border-right: 0;

    &:first-child {
      width: 50%;
    }

    &:last-child {
      border-right: 1px solid $color-border;
    }
  }

  .section__head {
    margin-bottom: 47px;
  }

  .container_slider {
    padding-right: 0;
    padding-left: 0;
    position: relative;
  }

  @include screen('temp', max) {
    padding-bottom: 0;

    .section__head {
      margin-bottom: 31px;
    }

    .container_slider {
      padding-right: 22px;
      padding-left: 22px;
    }

    .swiper-wrapper {
      display: block;
    }

    .swiper-slide {
      width: 100%;
      border: 0;

      &:not(:last-child) {
        border-bottom: 1px solid $color-border;
      }

      &:first-child {
        width: 100%;
        border-top: 1px solid $color-border;
      }

      &:last-child {
        border-right: 0;
      }
    }

    .product-card {

      &__wrapper {
        padding: 38px 40px 40px 114px;
      }

      &__cart {
        bottom: 50px;
      }
    }
  }
}
