include ../../components/news/news

mixin news-one()
  +b.news-one&attributes(attributes)
    .container
      +e.heading
        +e.type Новость
        +e.date 14 янв 2017
      +e.content
        +e.wrapper
          +e.H2.caption Каролин де Мегрэ в рекламной кампании CHANEL’s GABRIELLE
          +e.P.text Основной текст. Омолаживающий шампунь рекомендуется как уход для поддержания эффекта после процедуры омолаживания волос. Благодаря комплексу активных компонентов последнего поколения, которые обеспечивают эффективное омоложение волоса, шампунь способствует удержанию влаги, очищает и укрепляет капиллярное волокно волоса.
          +e.H5.subtitle Заголовок второго уровня
          +e.P.text Приключения амбассадоров модного Дома в рекламной кампании коллекции аксессуаров CHANEL’s GABRIELLE продолжаются – бренд поделился третьим роликом из цикла, главной героиней которого стала Каролин де Мегрэ. Chanel называют одну из главных муз Дома парижанкой в высшей степени, подчеркивая, что этот фильм из цикла олицетворяет присущий марке французский шик. Режиссером ролика выступил Оливье Ассайас, на счету которого в том числе картины «Париж, я люблю тебя» и «Персональный покупатель», снявший де Мегрэ в интерьерах французской квартиры, где девушка обнаруживает ежедневник с пометкой Gabrielle.
          +e.H3.title Заголовок первого уровня
          +e.P.text Приключения амбассадоров модного Дома в рекламной кампании коллекции аксессуаров CHANEL’s GABRIELLE продолжаются – бренд поделился третьим роликом из цикла, главной героиней которого стала Каролин де Мегрэ. Chanel называют одну из главных муз Дома парижанкой в высшей степени, подчеркивая, что этот фильм из цикла олицетворяет присущий марке французский шик. Режиссером ролика выступил Оливье Ассайас, на счету которого в том числе картины «Париж, я люблю тебя» и «Персональный покупатель», снявший де Мегрэ в интерьерах французской квартиры, где девушка обнаруживает ежедневник с пометкой Gabrielle.
          +e.image
            img(src='assets/images/article@2x.jpg')
          +e.text Этот фильм – предпоследний в цикле из четырех. До этого модный Дом опубликовал ролики с Кристен Стюарт и Карой Делевинь. На очереди заключительный ролик, в котором снялся Фаррелл Уильямс.
      +news('Новости', 'Другие новости')
        +col(3)
          +news-card('Новость', 'Еще один магазин Lantelia открылся в в Варшаве. Подарки первым десяти покупателям.', 'Читать')._with-hover
        +col(3)
          +news-card('Новость', 'Открыта вакансия менеджера в call-центре компании Lantelia', 'Читать')._with-hover
        +col(3)
          +news-card('Новость', 'За кулисами Dior Makeup: эксклюзивные материалы с показов мод', 'Читать')._with-hover
        +col(3)
          +news-card('Новость', 'Звезды на ужине Louis Vuitton в Лувре', 'Читать')._with-hover
