include ../../blocks/button/button

mixin slider(pagination, buttons)
  +b.slider&attributes(attributes).swiper-container.js-slider
    .swiper-wrapper
      block
    if pagination
      +e.dots
        +e.dot
    if buttons
      +round('arrow').__button_prev
      +round('arrow').__button_next
      
mixin slide()
  .swiper-slide
    +e.slide&attributes(attributes)
      block
