.sales-offices {
  padding-bottom: 48px;

  .section__head {
    margin-bottom: 35px;
  }

  .filter {
    align-self: flex-end;
    transform: translateY(-4px);
  }

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    // margin-right: -35px;
    // margin-left: -11px;
  }

  &__map {
    position: relative;
    opacity: 0;
    height: 0;
    transition: height $ease-main, margin $ease-main, opacity $ease-main;
    width: 100%;
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    background-color: $color-gray;

    &.active {
      min-height: 541px;
      opacity: 1;
      // margin-bottom: $grid-gap;

      width: 100vw;
      .map {
        height: 541px;
        opacity: 1;
      }
    }

    .map {
      height: 0;
      opacity: 0;
    }
  }

  &__map-close {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #252525;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .11);
    position: absolute;
    top: $grid-gap;
    right: $grid-gap*2;
    z-index: 2;
    transition: opacity $ease-main;

    svg {
      @include center-block;
      fill: $color-white;
      width: 12px;
      height: 12px;
    }

    &:hover {
      opacity: .7;
    }
  }

  .address-card {
    display: block;
    // min-width: 424px;
    min-width: 31%;

    margin: 12px;
    flex: 1;
    transition: box-shadow $ease-main, background-color $ease-main, opacity $ease-main;

    &__address {
      letter-spacing: normal;
    }
    // &::after {
    //   display: none;
    // }
  }

  @include screen('temp', max) {
    padding-top: 89px;

    &__map {
      margin-left: -22px;
      margin-right: -22px;
    }
  }

  @include screen('tablet', max) {
    padding-bottom: 0;

    .section-head {
      margin-bottom: 12px;
    }

    .section__head {
      display: block;
      margin-bottom: 0;
      padding-bottom: 35px;
    }

    .filter {
      transform: none;
      padding: 0;
    }

    &__wrapper {
      margin: 0;
      flex-direction: column;
    }

    .address-card {
      width: 100%;
      min-width: 0;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
