include ../../blocks/section-head/section-head
include ../../blocks/button/button
include ../../components/filter/filter-contacts
include ../../blocks/address-card/address-card

mixin sales-offices()
  +b.SECTION.sales-offices.section&attributes(attributes)
    .container
      .section__head.section__head_flex
        +section-head('Где купить', 'Офисы продаж')
        +filter-contacts('Показать на карте', 'contacts.html')
      +e.wrapper
        +address-card('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker1')(data-city="msk")
        +address-card('Молен Руж', 'Санкт-Петербург, просп. Науки, 23а', 'marker2')(data-city="spb")
        +address-card('Петровский пассаж', 'Псков, Рижский пр-кт, д.16', 'marker3')(data-city="psk")
        +address-card('ТВК Тишинка', 'Москва, Тверская улица 7', 'marker4')(data-city="msk")
        +address-card('На Беговой ТЦ', 'Санкт-Петербург, просп. Науки, 23а', 'marker5')(data-city="spb")
        +address-card('Торговый центр Палладиум', 'Псков, Рижский пр-кт, д.16', 'marker6')(data-city="psk")
        +address-card('Авиапарк', 'Москва, Тверская улица 7', 'marker7')(data-city="msk")
        +address-card('Афимолл Сити', 'Санкт-Петербург, просп. Науки, 23а', 'marker8')(data-city="spb")
