.sales-offices {
  padding-bottom: 36px;

  .section__head {
    margin-bottom: 46px;
  }

  .filter {
    align-self: flex-end;
    transform: translateY(-4px);
  }

  &__wrapper {
    // display: flex;
    // flex-flow: row wrap;
    margin-right: -24px;
  }

  &__map {
    margin-left: -$container-padding;
    margin-right: -$container-padding;
    position: relative;
    margin-bottom: $grid-gap;
    will-change: opacity;

    &.hidden {
      display: none;
    }
  }

  &__map-close {
    width: 54px;
    height: 54px;
    border-radius: 100px;
    background-color: #252525;
    box-shadow: 0 12px 36px 0 rgba(0, 0, 0, .11);
    position: absolute;
    top: $grid-gap;
    right: $grid-gap*2;
    z-index: 2;

    svg {
      @include center-block;
      fill: $color-white;
      width: 12px;
      height: 12px;
    }
  }

  .address-card {
    min-width: 424px;
    margin-bottom: $grid-gap;
    margin-right: $grid-gap;
  }

  @include screen('temp', max) {
    padding-top: 89px;
    padding-bottom: 0;

    .section-head {
      margin-bottom: 12px;
    }

    .section__head {
      display: block;
      margin-bottom: 0;
      padding-bottom: 35px;
      border-bottom: 1px solid $color-border;
    }

    .filter {
      transform: none;
      padding: 0;
    }

    &__wrapper {
      margin: 0;
    }

    .address-card {
      width: 100%;
      min-width: 0;
      margin: 0;

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
