include ../../blocks/section-head/section-head
include ../../blocks/address-card/address-card

mixin whereToBuy()
  +b.SECTION.whereToBuy&attributes(attributes)
    +section-head('Где купить', 'Офисы продаж', true)
    .address-container
      .address-wrapper
        +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker1')
        +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker2')
        +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker3')
        +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker4')
        +address-card-linkedToMap('Цветной Москва', 'г. Москва, Ленинградский пр., д. 2, цоколь 1234', 'marker5')
