.whereToBuy {
  display: block;
  // padding: 20px;
  // padding-bottom: 50px;
  background-color: $color-white;

  .section__head {
    margin-bottom: 47px;
  }

  .address-card {
    width: 100%;
    position: relative;
  }

  .swiper-container {
    overflow: visible;
    padding-bottom: 3px;
  }

  .swiper-slide {
    width: 376px;
    box-sizing: border-box;
    margin-right: $grid-gap;
  }

  .button {
    display: none;
  }

  @include screen('tablet', max) {
    border-bottom: 1px solid $color-border;

    .container {
      padding-left: 22px;
      padding-right: 22px;
    }

    .section__head {
      margin-bottom: 23px;
    }

    .button {
      display: block;
      width: 100%;
      padding: 21px 23px 24px 24px;
    }

    // .address-container {
    //   overflow: auto;
    // }

    .swiper-slide {
      margin-right: 0;
      width: 100%;
      border-bottom: 1px solid $color-border;

      &:first-child {
        border-top: 1px solid $color-border;
      }
    }

    .swiper-container {
      padding: 0 22px;
    }

    .swiper-wrapper {
      display: block;
    }

    .address-card {
      border: none;
    }

    .button {
      margin-top: 36px;
    }
  }
}
