.news-card {
  display: block;
  border: 1px solid $color-border;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 312px;
  padding: 34px 35px 32px;
  position: relative;
  cursor: pointer;

  &::after {
    @include pseudo;

    transition: background-color $ease-main;
    right: 0;
    top: 0;
  }

  &:hover {
    .news-card__link {
      color: $color-gray;
      opacity: 1;
    }
  }

  &_colored {
    border: none;

    &::after {
      bottom: 100%;
      top: auto;
      left: 6px;
      right: 6px;
      width: auto;
      height: 6px;
    }
  }

  &_scale {
    overflow: hidden;

    .news-card__image {
      transition: transform $ease-main;
    }

    &:hover {

      .news-card__image {
        transform: scale(1.05);
      }
    }
  }

  &_with-hover {

    &:hover {
      // border: none;
      //
      // &::after {
      //   @include center-block;
      //
      //   right: 0;
      //   width: 104%;
      //   height: 104%;
      //   z-index: -1;
      //   background-color: $color-main;
      // }

      .news-card__link {
        color: $color-gray;
      }

      // .news-card__text {
      //   color: $color-white;
      // }
    }
  }

  &_blue {
    @extend %gradient-card_blue;
  }

  &_pink {
    @extend %gradient-card_pink;
  }

  &_gray {
    @extend %gradient-card_gray;
  }

  &_green {
    @extend %gradient-card_green;
  }

  &_xl {
    border: none;
    min-height: 648px;
    height: 100%;
    letter-spacing: .013em;

    * {
      color: $color-white !important;
    }

    .news-card__text {
      max-width: 225px;
      margin-bottom: -3px;
    }

    .news-card__type {
      margin-bottom: 31px;
    }
  }

  &__top {
    margin-bottom: $grid-gap;
  }

  &__image {
    @include fill-img;

    width: 100%;
    height: 100%;

    &-wrapper {
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 100%;

  }

  &__type {
    font-size: 13px;
    font-weight: 300;
    color: $color-gray;
    margin-bottom: 25px;
    letter-spacing: .015em;
  }

  &__text {
    font-size: 16px;
    line-height: 1.5;
    color: $color-basic;
    flex-grow: 1;
    margin-bottom: $grid-gap;
    letter-spacing: .01em;
    display: block;
    max-height: 144px;
  }

  &__link {
    font-size: 11px;
    letter-spacing: .127em;
    color: rgba(0, 0, 0, .5);
  }

  &__logo {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: .028em;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  @include screen('temp', max) {
    min-height: 240px;
    padding: 33px 35px 35px;

    &_xl {
      padding: 35px 33px 36px;
      background-position: 50% 26%;

      .news-card__text {
        display: none;
      }

      .news-card__type {
        margin-bottom: 18px;
      }
    }

    &__logo {
      font-size: 18px;
    }
  }

  @include screen('phone', max) {
    min-height: 276px;
  }
}
