//- модификатор для цветных новостей ._colored
//- ._blue, ._pink, ._gray, ._green
include ../../blocks/link/link

mixin news-card(type, text, link)
  +b.news-card&attributes(attributes)
    +e.wrapper
      +e.type= type
      +e.P.text= text
      +link().news-card__link= link

mixin news-card-large(type, text, link)
  +b.news-card._xl&attributes(attributes)
    +e.image-wrapper
      +e.IMG(src="assets/images/picMainPage/aboutUs@2x.jpg").image
    +e.wrapper
      +e.top
        +e.type= type
        +e.logo Lantelia
      +e.bottom
        +e.P.text= text
        +link().news-card__link= link
