.product-card {
  border: 1px solid #ededed;
  max-width: 362px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-bottom: 60px;
    min-height: 563px;
  }

  &:hover {

    .product-card__cart {
      display: flex;
    }
  }

  &_xl {
    max-width: 722px;

    .product-card__volume + .product-card__volume {
      margin-left: 74px;
    }

    .product-card__name, .product-card__line {
      max-width: 15%;
    }
  }

  &__line {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    max-width: 30%;
    line-height: 1.31;
    text-transform: capitalize;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    padding: 50px 55px 10px 60px;
  }

  &__name, &__volume {
    font-size: 13px;
    color: #7c7c7c;
    font-weight: 300;
  }

  &__name {
    max-width: 30%;
    line-height: 1.77;
    text-transform: capitalize;
  }

  &__volume + &__volume {
    margin-left: 91px;
  }

  &__image {
    width: 360px;
    height: 360px;
    align-self: center;
  }

  &__bottom {
    align-self: center;
  }

  &__cart {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    background-color: $color-main;
    padding: 19px 15px 15px 20px;
    letter-spacing: 1.5px;
    width: 129px;
    box-sizing: border-box;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-white;
    }
  }

  &__price {
    font-size: 12px;
  }

  &__arrow {
    display: none;
  }

  @media (max-width: 768px) {
    border: none;
    border-bottom: 1px solid #ededed;

    &__wrapper {
      padding: 25px 0;
      flex-flow: row;
      justify-content: center;
      flex: 1;
      min-height: 0;
    }

    &_xl {
      max-width: 362px;
    }

    &__image {
      width: 92px;
      height: 92px;
      align-self: flex-start;
      order: 1;
    }

    &__line {
      line-height: 1.5;
      margin-bottom: 5px;
    }

    &__top {
      flex-flow: column;
      padding: 0;
      order: 2;
      margin-left: 24px;
    }

    &__bottom {
      order: 3;
      display: flex;
      flex-flow: column;
      padding: 0;
      justify-content: space-between;
      align-self: auto;
    }

    &__volume {
      display: none;
    }

    &__cart {
      display: block;
      position: relative;
      background: none;
      padding: 0;
      width: auto;
      letter-spacing: normal;

      svg {
        fill: $color-basic;
      }
    }

    &__arrow {
      display: block;

      svg {
        height: 24px;
        width: 25px;
        fill: $color-basic;
      }
    }
  }
}
