//- ._xl - для тройной карточки
include ../../blocks/icon/icons
include ../../blocks/modal/modal
include ../../blocks/popups/popups

mixin product-card(img)
  +b.product-card&attributes(attributes)
    +e.wrapper
      +e.top
        +e.H3.line 
          | Professional
          br
          | botox
          br
          | therapy
        +e.UL
          +e.LI.name Шампунь
          +e.LI.name Кератин
      +e.image
        img(src= img)
      +e.bottom
        +e.volumes
          +e.SPAN.volume 250 мл
          +e.SPAN.volume 250 мл
        +e.A(href="#", title="Перейти к товару").arrow
          +e.null
          +icon('arrow')
        +e.A(href="#", title="Добавить в корзину").cart
          +e.price 2 199 ₽
          +icon('shopping-cart')
      
