.product-card {
  border: 1px solid $color-border;
  max-width: 362px;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 52px 57px 57px $container-padding;
    box-sizing: border-box;
    min-height: 528px;
  }

  &:hover {

    .product-card__cart {
      display: flex;
    }
  }

  &_xl {
    max-width: 722px;

    .product-card__volume:not(:last-child) {
      margin-right: 74px;
    }
  }

  &__line {
    font-size: 16px;
    font-weight: 300;
    text-align: left;
    line-height: 1.37;
    text-transform: capitalize;
    padding-right: 10px;
    letter-spacing: .013em;
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &__name, &__volume {
    font-size: 13px;
    color: $color-gray;
    font-weight: 300;
  }

  &__name {
    line-height: 1.77;
    text-transform: capitalize;

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &__volumes {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
  }

  &__volume {
    text-align: center;
    width: 50%;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    max-width: 360px;
    max-height: 360px;
    align-self: center;
    position: absolute;
    margin: 0 auto;
    top: 20%;

    img {

      @include fill-img;
    }
  }

  &__bottom {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
  }

  &__cart {
    position: absolute;
    display: none;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    background-color: $color-main;
    padding: 17px 15px 14px 25px;
    box-sizing: border-box;
    letter-spacing: .126em;
    font-size: 12px;

    svg {
      width: 24px;
      height: 24px;
      fill: $color-white;
    }
  }

  &__price {
    margin-right: 14px;
  }

  &__arrow {
    display: none;
  }

  // @media (max-width: 1280px) {
  //
  //   &__top {
  //     padding: 30px 15px 10px 10px;
  //   }
  //
  //   &__line, &__name {
  //     max-width: none !important;
  //   }
  //
  //   &__line {
  //     font-size: 14px;
  //   }
  //
  //   &__name {
  //     font-size: 11px;
  //   }
  //
  //   .product-card_xl .product-card__line, .product-card_xl .product-card__name {
  //     max-width: none !important;
  //   }
  // }

  @include screen('tablet', max) {
    border: none;
    border-bottom: 1px solid $color-border;
    width: 100%;

    &__price {
      display: none;
    }

    &__wrapper {
      padding: 25px 0;
      flex-flow: row;
      justify-content: space-between;
      min-height: 0;
    }

    &_xl {
      max-width: 362px;
    }

    &__image {
      order: 1;
      margin: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &__line {
      line-height: 1.5;
      margin-bottom: 5px;
    }

    &__top {
      flex-flow: column;
      padding: 0;
      order: 2;
      margin-left: 24px;
      margin-right: 24px;
    }

    &__bottom {
      order: 3;
      display: flex;
      flex-flow: column;
      padding: 0;
      justify-content: space-between;
      align-self: auto;
    }

    &__volume {
      display: none;
    }

    &__cart {
      display: block;
      position: relative;
      background: none;
      padding: 0;
      width: auto;

      svg {
        fill: $color-basic;
      }
    }

    &__arrow {
      display: block;

      svg {
        height: 24px;
        width: 25px;
        fill: $color-basic;
      }
    }
  }
}
