.product-card {
  border: 1px solid $color-border;
  box-sizing: border-box;
  position: relative;
  cursor: pointer;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }

  &__wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 52px $container-padding 53px $container-padding;
    box-sizing: border-box;
  }

  &:hover {

    .product-card__cart {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  &__line {
    font-size: 16px;
    text-align: left;
    line-height: 1.37;
    text-transform: capitalize;
    margin-right: $grid-gap;
    letter-spacing: .013em;
    color: $color-basic;
    z-index: 3;

    span {
      display: table-caption;
    }
  }

  &__top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    z-index: 3;
  }

  &__name, &__volume {
    @extend %text-label;

    z-index: 3;
  }

  &__name {
    text-transform: capitalize;
    flex-basis: 50%;

    @include ellipsis(100%);

    &:not(:last-child)::after {
      content: ',';
    }
  }

  &__names_mobile {
    display: none;
  }

  &__volumes {
    align-self: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    z-index: 3;
  }

  &__volume {
    text-align: center;
    width: 50%;
    flex: 1;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__image {
    height: 360px;
    z-index: 3;
    position: relative;
    margin-top: -11px;
    margin-bottom: -12px;

    img {
      position: absolute;
      top: 0;
      max-height: 100%;
      left: 50%;
      transform: translateX(-50.5%);
    }
  }

  &__bottom {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 360px;
  }

  &__cart {
    position: absolute;
    display: flex;
    opacity: 0;
    bottom: -6px;
    right: -6px;
    align-items: center;
    justify-content: space-between;
    color: $color-white;
    background-color: $color-main;
    padding: 15px 15px 15px 25px;
    box-sizing: border-box;
    letter-spacing: .13em;
    font-size: 12px;
    z-index: 11;
    transition: opacity $ease-main, transform $ease-main;
    transform: translate3d(0, 10px, 0);

    svg {
      width: 24px;
      height: 24px;
      fill: $color-white;
    }
  }

  &__price {
    margin-right: 14px;
  }

  &__arrow {
    display: none;
  }

  // Карточка в корзине

  &_cart {
    width: 100%;
    max-width: none;
    border: none;
    cursor: pointer;
    border-bottom: 1px solid $color-border;

    &:hover {

      .product-card__delete {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
      }
    }

    &:first-child {
      border-top: 1px solid $color-border;
    }

    .product-card__wrapper {
      padding: 26px 106px 28px 0;
      min-height: 0;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }

    .product-card__col {
      margin-right: 99px;
    }

    .product-card__line {
      @extend %text-label;

      display: inline-block;
      vertical-align: middle;
      margin-right: 0;
      padding-right: 0;
    }

    .product-card__right {
      flex: 1;
      @include clearfix;
      display: flex;
      align-items: center;
    }

    .product-card__image {
      position: relative;
      width: 92px;
      height: auto;
      margin: 0 auto;
      top: auto;
      margin-right: 24px;
      display: inline-block;
      vertical-align: middle;

      img {
        min-height: inherit;
        width: 92px;
        height: auto;
        position: relative;
        transform: none;
        left: auto;
      }
    }

    .product-card__delete {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      opacity: 0;
      visibility: hidden;
      border: 1px solid #d3d3d3;
      border-radius: 50%;
      padding: 20px;
      transition: all $ease-main;
      pointer-events: none;
      cursor: pointer;

      .cart__delete {
        width: 12px;
        height: 12px;
        fill: $color-main;
      }
    }

    .product-card__name {
      text-align: left;
      line-height: 1.7;
    }

    .order-price {

      &__text {
        line-height: 1.97;
      }

      &:not(:last-child) {
        padding-right: 39px;
        margin: 0 !important;
      }
    }

    .product-card__bottom {
      display: block;
      align-self: auto;
      width: auto;
      max-width: none;
      margin-right: 0;
    }

    .choices {
      min-width: 110px;
      margin-left: 25px;
      border: 1px solid rgba(37, 37, 37, .16);

      &[data-type*='select-one'] {
        .choices__inner {
          padding-left: $grid-gap;
        }
      }

      &__list--dropdown .choices__item {
        padding-left: 24px;
      }


      &::after {
       border: 3px solid transparent;
       border-top: 6px solid $color-basic;
       height: auto;
       width: auto;
       top: 53%;
       right: 18px;
       transform: none;
       transform-origin: 50% 25%;
      }

      &.is-open::after {
        transform: rotate(180deg) translate3d(0, 0, 0, 0) !important;
        border: 3px solid transparent;
        border-top: 6px solid $color-basic;
      }
    }
  }

  // @media (max-width: 1280px) {
  //
  //   &__top {
  //     padding: 30px 15px 10px 10px;
  //   }
  //
  //   &__line, &__name {
  //     max-width: none !important;
  //   }
  //
  //   &__line {
  //     font-size: 14px;
  //   }
  //
  //   &__name {
  //     font-size: 11px;
  //   }
  //
  //   .product-card_xl .product-card__line, .product-card_xl .product-card__name {
  //     max-width: none !important;
  //   }
  // }

  @include screen('temp', max) {
    border-right: none;
    width: 100%;

    &__volumes, &__link, &__price {
      display: none;
    }

    &__wrapper {
      padding: 40px 40px 39px 116px;
      flex-flow: row;
      justify-content: space-between;
      min-height: 0;
      align-items: flex-start;
    }

    &__name {
      flex-basis: auto;
      text-align: left;
    }

    &_xl {
      max-width: 362px;
    }

    &__image {
      order: 1;
      position: absolute;
      top: 39px;
      left: 0;
      height: 92px;
      align-self: flex-start;

      img {
        position: relative;
        left: auto;
        transform: none;
      }
    }

    &__line {
      line-height: 1.5;
      margin-right: 0;
      margin-bottom: 8px;
    }

    &__top {
      flex-flow: column wrap;
      padding: 0;
      order: 2;
    }

    &__bottom {
      order: 3;
      padding: 0;
      right: 0;
      top: 35px;
      flex-flow: column;
      width: auto;
    }

    &__volume {
      display: none;
    }

    &__cart {
      display: inline-block;
      vertical-align: middle;
      visibility: visible;
      opacity: 1;
      position: absolute;
      bottom: 40px;
      right: -2px;
      background: none;
      padding: 0;
      width: auto;

      svg {
        fill: $color-basic;
      }
    }

    &__arrow {
      position: absolute;
      right: -4px;
      top: 38px;
      display: inline-block;
      vertical-align: middle;

      svg {
        height: 24px;
        width: 25px;
        fill: $color-basic;
      }
    }

    // на странице cart.html
    &_cart {
      .product-card__wrapper {
        padding-right: 0;
        display: block;
      }

      .product-card__col {
        margin-right: 0;
      }

      .product-card__names {
        display: none;

        &_mobile {
          display: block;
          padding-left: 116px;
        }
      }

      .product-card__left {
        margin-bottom: $grid-gap;
      }

      .product-card__right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::after {
          display: none;
        }
      }

      .product-card__delete {
        top: 26px;
        transform: none;
      }


      .product-card__bottom {
        display: none;
      }
    }
  }
}
